<div
  *ngIf="dataFilter.type === 'DATE' || dataFilter.type === 'EPOCHDATE' || dataFilter.type === 'DATE_SHORT' || dataFilter.type === 'OPTIONS' || dataFilter.type === 'BOOLEAN' || dataFilter.type === 'CHECKBOX'
  || (dataFilter.type === 'ADDITIONALVALUE' && (dataFilter.additionalType !== 'TEXT' && dataFilter.additionalType !== 'text' && dataFilter.additionalType !== 'TEXTAREA'))">
  <b>{{dataFilter.participantColumn.display}}</b>
</div>
<ng-container
  *ngIf="dataFilter.type === 'DATE' || dataFilter.type === 'EPOCHDATE' ||  dataFilter.type === 'DATE_SHORT' || (dataFilter.type === 'ADDITIONALVALUE' && dataFilter.additionalType === 'DATE')">
  <app-field-datepicker [allowFutureDate]="true" [showNAButton]="true" [dateString]="dataFilter.value1" [allowUnknownDay]="true"
                        (dateChanged)="dateChange($event, 1)" [disabled]="!editable"></app-field-datepicker>
  <ng-container *ngIf="dataFilter.range">
    <app-field-datepicker [allowFutureDate]="true" [showNAButton]="true" (dateChanged)="dateChange($event, 2)" [allowUnknownDay]="true"
                          [dateString]="dataFilter.value2" [disabled]="!editable"></app-field-datepicker>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="dataFilter.type === 'BOOLEAN' || dataFilter.type === 'CHECKBOX' || (dataFilter.type === 'ADDITIONALVALUE' && dataFilter.additionalType === 'CHECKBOX')">
  <md-checkbox color="primary" disableRipple
               [checked]="dataFilter.value1" [(ngModel)]="dataFilter.value1" (change)="changeValue($event, dataFilter)"> Yes
  </md-checkbox>
  <md-checkbox color="primary" disableRipple
               [checked]="dataFilter.value2" [(ngModel)]="dataFilter.value2" (change)="changeValue2($event, dataFilter)"> No
  </md-checkbox>
</ng-container>
<ng-container *ngIf="dataFilter.type === 'NUMBER' || (dataFilter.type === 'ADDITIONALVALUE' && dataFilter.additionalType === 'NUMBER')">
  <md-input-container>
    <input mdInput maxlength="500" placeholder="{{dataFilter.participantColumn.display}}" type="number" [(ngModel)]="dataFilter.value1"
           [disabled]="!editable" autocomplete="off">
  </md-input-container>
  <ng-container *ngIf="dataFilter.range">
    <md-input-container>
      <input mdInput maxlength="500" placeholder="{{dataFilter.participantColumn.display}}" type="number" [(ngModel)]="dataFilter.value2"
             [disabled]="!editable" autocomplete="off">
    </md-input-container>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="dataFilter.type === 'TEXT' || dataFilter.type === 'COMPOSITE' || (dataFilter.type === 'ADDITIONALVALUE' && (dataFilter.additionalType === null || dataFilter.additionalType === undefined || dataFilter.additionalType === '' || dataFilter.additionalType === 'TEXT' || dataFilter.additionalType === 'text' || dataFilter.additionalType === 'TEXTAREA'))">
  <md-input-container>
    <input mdInput maxlength="500" placeholder="{{dataFilter.participantColumn.display}}" type="text" [(ngModel)]="dataFilter.value1"
           autocomplete="off" [disabled]="!editable">
  </md-input-container>
</ng-container>
<ng-container
  *ngIf="(dataFilter.type === 'OPTIONS'  || (dataFilter.type === 'ADDITIONALVALUE' && dataFilter.additionalType === 'OPTIONS')) && dataFilter != null && dataFilter.options != null">
  <div *ngIf="dataFilter.singleOption" class="TD--Padding-Left">
    <md-radio-group [(ngModel)]="selected">
      <div *ngFor="let option of dataFilter.options; let i=index">
        <md-radio-button color="primary" disableRipple [checked]="selected === i"
                         [value]="i" [disabled]="!editable || dataFilter.empty || dataFilter.notEmpty" (change)="radioChange($event)">
          <span tooltip="{{option.name}}">{{option.value}}</span>
        </md-radio-button>
      </div>
    </md-radio-group>
  </div>
  <ng-container *ngIf="!dataFilter.singleOption">
    <div *ngFor="let option of dataFilter.options; let i=index" class="TD--Padding-Left">
      <md-checkbox [checked]="dataFilter.selectedOptions[i]" color="primary" disableRipple
                   [(ngModel)]="dataFilter.selectedOptions[i]" [disabled]="!editable || dataFilter.empty || dataFilter.notEmpty">
        <span tooltip="{{option.name}}">{{option.value}}</span>
      </md-checkbox>
    </div>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="dataFilter.type !== 'BOOLEAN' && dataFilter.type !== 'CHECKBOX' && !(dataFilter.type === 'ADDITIONALVALUE' && dataFilter.additionalType === 'CHECKBOX')">
  <ng-container *ngIf="!showOptions">
    <button class="btn btn-sq-xs" color="primary"
            (click)="showOptions = !showOptions">
      <i class="fas fa-plus-square"></i>
    </button>
  </ng-container>
  <ng-container *ngIf="showOptions">
    <button class="btn btn-sq-xs" color="primary"
            (click)="showOptions = !showOptions">
      <i class="fas fa-minus-square"></i>
    </button>
  </ng-container>
  <ng-container *ngIf="showOptions">
    <div
      *ngIf="(dataFilter.type === 'TEXT' || (dataFilter.type === 'ADDITIONALVALUE' && (dataFilter.additionalType === 'TEXT' || dataFilter.additionalType === 'text')) || dataFilter.type === 'COMPOSITE'
      || (dataFilter.type === 'ADDITIONALVALUE' && (dataFilter.additionalType === 'TEXT' || dataFilter.additionalType === 'text' || dataFilter.additionalType === 'TEXTAREA'))) && showOptions">
      <md-checkbox [(ngModel)]="dataFilter.exactMatch" color="primary" disableRipple
                   [disabled]="dataFilter == null || dataFilter.value1 == null || dataFilter.value1 === '' || !editable">
        Exact Match
      </md-checkbox>
    </div>
    <div
      *ngIf="(dataFilter.type === 'NUMBER' || dataFilter.type === 'DATE' || dataFilter.type === 'EPOCHDATE' || dataFilter.type === 'DATE_SHORT') && showOptions">
      <md-checkbox [(ngModel)]="dataFilter.range" color="primary" [disabled]="!editable" disableRipple>
        Range
      </md-checkbox>
    </div>
    <!--quick fix! remove when ES has option to search for empty-->
    <div
      *ngIf="dataFilter.participantColumn.tableAlias === 'p' || dataFilter.participantColumn.tableAlias === 'm' || dataFilter.participantColumn.tableAlias === 'oD'
      || dataFilter.participantColumn.tableAlias === 't' || dataFilter.participantColumn.tableAlias === 'a' || dataFilter.participantColumn.tableAlias === 'r' || dataFilter.participantColumn.tableAlias === 'o'
      || dataFilter.participantColumn.tableAlias === 'k'">
      <md-checkbox [(ngModel)]="dataFilter.empty" color="primary" disableRipple
                   [disabled]="!editable || !(dataFilter == null || dataFilter.value1 == null || dataFilter.value1 === '' ) || hasSelectedOption(dataFilter) || dataFilter.notEmpty">
        Empty
      </md-checkbox>
    </div>
    <div>
      <md-checkbox [(ngModel)]="dataFilter.notEmpty" color="primary" disableRipple
                   [disabled]="!editable || !(dataFilter == null || dataFilter.value1 == null || dataFilter.value1 === '' ) || hasSelectedOption(dataFilter) || dataFilter.empty">
        Not Empty
      </md-checkbox>
    </div>
  </ng-container>
</ng-container>
