<div>
  <!-- Search form -->
  <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="textQuery"
         name="query" (keyup)="checkQuery()" (click)="checkQuery()" (keydown)="search($event)"
         autocomplete="off"
         [ngClass]="{'Color--bg--warn':wrongQuery, 'Float--left': true, 'Width--85': true}">
  <button md-mini-fab (click)="doFilterByQuery()" [disabled]="wrongQuery" color="Color--primary" tooltip="Search">
    <i class="fas fa-search"></i>
  </button>
  <button md-mini-fab (click)="putFilterQueryBack()" color="Color--primary" tooltip="Erase Query">
    <i class="fas fa-eraser"></i>
  </button>
</div>
<br>
<div *ngIf="showHelp" style="background-color: #f6e6e6;" class=" Float--right">
  <div>
    <b> How to search with the new filters?</b>
  </div>
  <div>
    <b> How to use the search bar?</b>
    <ul>
      <li>Click on the search bar to write your search query in it.</li>
      <li>There is an algorithm that is constantly checking if the query being written in the search box is
        syntax-wise correct. Is it is wrong the font color will turn red and you can't search with that query.
      </li>
      <li>
        Press the search button or the enter key to search!
      </li>
      <li> You should <b>use space</b> between all the words and parenthesis. <br> Example: Type <b> ( a = 2 OR b =
        3 )</b>
        instead of <b> (a = 2 OR b = 3)</b>.
        In the second search statement the algorithm cannot distinguish between <b>(</b> and <b>a</b></li>
      <li>To find the name of the fields to search for, select them in the
        <i>customize view</i> menu so they appear in the tissue list. When you hold your mouse on the column name in
        the table
        header, you can see their field names appear in little black pop ups. as an example when searching for the
        <b>TypePX</b> of a tissue, you can
        see find the field name when you hold your mouse on its header in the table, which will show you <b>OD.typePX</b>.
      </li>
      <li> Use operators <b> < , > , <= , >= , = , <> , LIKE</b></li>
      <li> Use <b><></b> for <b>not equal</b>.</li>
      <li>The <b>LIKE</b> operator is used when you want to see any results that contain that word<br>
        For example, if you search for <b>oD.typePX LIKE '%Biopsy%'</b> you would get any description that has the
        word 'Biopsy' in them.
      </li>
      <li>For the value following the <b>LIKE</b> you should always use <b>single quotations '</b>. <br> Use
        <b>%</b>
        sign around the pattern you are looking for
        to get results that contain that pattern as well as the ones that are matched with it exactly. <br>
        Example: <b>oD.facility LIKE '%a' -> finds any values that end with "a"</b><br>
        <b>oD.facility LIKE 'a%' : Finds any values that starts with "a"</b><br>
        <b>oD.facility LIKE '%abcd%' Finds any values that have "abcd" in them.</b>
      </li>
      <li> Use single quotations <b>'</b> to search for words and dates, but you don't need them for the numbers.
      </li>
      <li>Your search statement <b>MUST</b> always start with <b>AND</b>.</li>
      <li>If you are searching for an OR statement, you can easily do it after the first initial <b>AND</b>.<br>
        Example: <b> AND ( oD.typePX = 'Biopsy' OR oD.accessionNumber LIKE '%2%' )</b></li>
      <li> The number of opening and closing parenthesis should match and should be valid.<br>
        Example of a not valid one is <b>( ) )</b> or <b>) a OR b (</b>.
      </li>
      <li>If you are searching for <b>empty</b> values, use the phrase <b> IS NULL</b> and if you are searching for
        field that is <b>not empty</b> use
        <b>IS NOT NULL </b><br>
        Example: <b> AND ( oD.typePX IS NULL AND t.smId IS NOT NULL )</b></li>
      <li>When searching for <b>additional realm specific fields</b>, the search bar <b>cannot</b> be used. Use the
        filter menu on the left instead.
      </li>
    </ul>
  </div>

</div>
