<h1> Drug List </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<div *ngIf="errorMessage == null">

  <span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>
  <br/>

  <div *ngIf="hasRole().allowedToEditDrugList()">
    <div>
      <b>
        Add new drug:
      </b>
    </div>
    <md-input-container class="Input">
      <input mdInput class="Input--Min-WIDTH" maxlength="200" placeholder="Display Name" autocomplete="off"
             [ngModel]="displayName" (change)="checkDisplayName(null)" (ngModelChange)="displayName = $event.toUpperCase()">
      <md-hint class="ErrorMessageForm" *ngIf="notUniqueError">Name not unique</md-hint>
    </md-input-container>

    <md-input-container class="Input">
      <input mdInput type="text" class="Width--100" maxlength="100" placeholder="Generic Name" autocomplete="off"
             [ngModel]="genericName" (change)="checkDuplicatedNames(null)" (ngModelChange)="genericName = $event.toUpperCase()">
      <md-hint class="ErrorMessageForm" *ngIf="duplicatedNamesError">Generic/Brand combo is not new</md-hint>
    </md-input-container>

    <md-input-container class="Input">
      <input mdInput type="text" class="Width--100" maxlength="100" placeholder="Brand Name" autocomplete="off"
             [ngModel]="brandName" (change)="checkDuplicatedNames(null)" (ngModelChange)="brandName = $event.toUpperCase()">
      <md-hint class="ErrorMessageForm" *ngIf="duplicatedNamesError">Generic/Brand combo is not new</md-hint>
    </md-input-container>

    <md-input-container class="Input">
      <input mdInput type="text" class="Width--100" maxlength="100" placeholder="Chemo category" autocomplete="off"
             [ngModel]="chemocat" (ngModelChange)="chemocat = $event.toUpperCase()">
    </md-input-container>

    <md-select class="Input--Min-WIDTH" [(ngModel)]="chemoType" placeholder="Chemo Type">
      <md-option value="A"> A</md-option>
      <md-option value="H"> H</md-option>
      <md-option value="O"> O</md-option>
      <md-option value="I"> I</md-option>
      <md-option value="R"> R</md-option>
    </md-select>
    <md-checkbox color="primary" [checked]="studyDrug" (change)="studyDrug = $event.checked"
                 disableRipple> Study Drug</md-checkbox>

    <md-select class="Input--Min-WIDTH" [(ngModel)]="treatmentType" placeholder="Treatment Type">
      <md-option value="H"> H</md-option>
      <md-option value="B"> B</md-option>
      <md-option value="O"> O</md-option>
      <md-option value="C"> C</md-option>
      <md-option value="I"> I</md-option>
      <md-option value="R"> R</md-option>
    </md-select>

    <md-select class="Input--Min-WIDTH" [(ngModel)]="chemotherapy" placeholder="Chemotherapy">
      <md-option value="Y"> Yes</md-option>
      <md-option value="N"> No</md-option>
    </md-select>

    <md-checkbox color="primary" [checked]="active" (change)="active = $event.checked"
                 disableRipple>Active</md-checkbox>

    <button type="button" class="btn btn-primary" (click)="addDrug()"
            [disabled]="!goodNewDrug()">Add New Drug</button>
  </div>
  <br/>

  <div *ngIf="drugList != null">
    <table class="table table-striped"
           [mfData]="drugList | drugFilter:filterDisplayName:filterGenericName:filterBrandName:filterChemocat:filterChemoType:filterTreatmentType:filterChemotherapy"
           #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th>
          <mfDefaultSorter by="displayName">Display Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="genericName">Generic Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="brandName">Brand Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="chemocat">Chemo category</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="chemoType">Chemo Type</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="studyDrug">Study Drug</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="treatmentType">Treatment Type</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="chemotherapy">Chemotherapy</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="active">Active</mfDefaultSorter>
        </th>
      </tr>
      <tr>
        <th>
          <input class="form-control" [(ngModel)]="filterDisplayName"/>
        </th>
        <th>
          <input class="form-control" [(ngModel)]="filterGenericName"/>
        </th>
        <th>
          <input class="form-control" [(ngModel)]="filterBrandName"/>
        </th>
        <th>
          <input class="form-control" [(ngModel)]="filterChemocat"/>
        </th>
        <th>
          <md-select class="Input--Min-WIDTH" class="form-control" [(ngModel)]="filterChemoType">
            <md-option value=""></md-option>
            <md-option value="A"> A</md-option>
            <md-option value="H"> H</md-option>
            <md-option value="O"> O</md-option>
            <md-option value="I"> I</md-option>
            <md-option value="R"> R</md-option>
          </md-select>
        </th>
        <th>
        </th>
        <th>
          <md-select class="Input--Min-WIDTH" class="form-control" [(ngModel)]="filterTreatmentType">
            <md-option value=""></md-option>
            <md-option value="H"> H</md-option>
            <md-option value="B"> B</md-option>
            <md-option value="O"> O</md-option>
            <md-option value="C"> C</md-option>
            <md-option value="I"> I</md-option>
            <md-option value="R"> R</md-option>
          </md-select>
        </th>
        <th>
          <md-select class="Input--Min-WIDTH" class="form-control" [(ngModel)]="filterChemotherapy">
            <md-option value=""></md-option>
            <md-option value="Y"> Yes</md-option>
            <md-option value="N"> No</md-option>
          </md-select>
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let drug of mf.data; let i = index">
        <tr> <!-- For all columns, show as editable if user has permission, otherwise read only -->
          <td>
            <md-input-container class="Input" *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput class="Input--Min-WIDTH" maxlength="45"
                     [(ngModel)]="drug.displayName" (change)="checkDisplayName(i); changed(i)">
              <md-hint class="ErrorMessageForm" *ngIf="drug.notUniqueError">Name not unique</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.displayName}}</div>
          </td>

          <td>
            <md-input-container *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.genericName" (change)="checkDuplicatedNames(i); changed(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.duplicatedNamesError">Generic/Brand combo is not new</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.genericName}}</div>
          </td>
          <td>
            <md-input-container *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.brandName" (change)="checkDuplicatedNames(i); changed(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.duplicatedNamesError">Generic/Brand combo is not new</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.brandName}}</div>
          </td>
          <td>
            <md-input-container *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.chemocat" (change)="changed(i)" class="Width--100" maxlength="100">
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.chemocat}}</div>
          </td>
          <td>
            <md-select class="Input--Min-WIDTH" [(ngModel)]="drug.chemoType" (change)="changed(i)" [disabled]="!hasRole().allowedToEditDrugList()">
              <md-option value="A"> A</md-option>
              <md-option value="H"> H</md-option>
              <md-option value="O"> O</md-option>
              <md-option value="I"> I</md-option>
              <md-option value="R"> R</md-option>
            </md-select>
          </td>
          <td>
            <md-checkbox color="primary" [checked]="drug.studyDrug" (change)="drug.studyDrug = $event.checked; changed(i)"
                         [disabled]="!hasRole().allowedToEditDrugList()"
                         disableRipple></md-checkbox>
          </td>
          <td>
            <md-select class="Input--Min-WIDTH" [(ngModel)]="drug.treatmentType" (change)="changed(i)" [disabled]="!hasRole().allowedToEditDrugList()">
              <md-option value="H"> H</md-option>
              <md-option value="B"> B</md-option>
              <md-option value="O"> O</md-option>
              <md-option value="C"> C</md-option>
              <md-option value="I"> I</md-option>
              <md-option value="R"> R</md-option>
            </md-select>
          </td>
          <td>
            <md-select class="Input--Min-WIDTH" [(ngModel)]="drug.chemotherapy" (change)="changed(i)" [disabled]="!hasRole().allowedToEditDrugList()">
              <md-option value="Y"> Yes</md-option>
              <md-option value="N"> No</md-option>
            </md-select>
          </td>
          <td>
            <md-checkbox color="primary" [checked]="drug.active" (change)="drug.active = $event.checked; changed(i)"
                         [disabled]="!hasRole().allowedToEditDrugList()"
                         disableRipple></md-checkbox>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <mfBootstrapPaginator [rowsOnPageSet]="[10, 50, 100]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
    <br/>
    <button type="button" *ngIf="hasRole().allowedToEditDrugList()" class="btn btn-primary" (click)="saveDrugList()">Save Changes</button>
  </div>
</div>
