<ng-container *ngIf="showParticipantInformation">
  <app-participant-page [parentList]="parent" [participant]="participant" [activeTab]="selectedTab"
                        [drugs]="drugs" [cancers]="cancers" [settings]="settings"
                        [mrCoverPdfSettings]="mrCoverPdfSettings"
                        [activityDefinitions]="activityDefinitionList"
                        (leaveParticipant)="updateParticipant($event)"></app-participant-page>

</ng-container>

<ng-container *ngIf="showTissue">
  <app-tissue-page [participant]="participant" [oncHistoryDetail]="oncHistoryDetail"
                   [settings]="settings"
                   (leaveTissue)="openParticipant(participant, 'Onc History')"
                   (leaveParticipant)="showTissue=false"></app-tissue-page>
</ng-container>

<ng-container *ngIf="!showParticipantInformation && !showTissue">
  <h1> Participant List </h1>
  <ng-container *ngIf="loadedTimeStamp != null">Last loaded: {{loadedTimeStamp}}</ng-container>
  <br/>
  <br>

  <div *ngIf="errorMessage !== null && errorMessage !== ''">
    <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  </div>

  <div *ngIf="additionalMessage != null">
    <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
    <br/>
  </div>

  <div *ngIf="errorMessage == null">
<span *ngIf="loadingParticipants != null" class="Width--100">
  <div align="center" class="Width--100 Height--100">
    <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
  </div>
</span>
    <div *ngIf="getRealm() != null && loadingParticipants === null && participantList != null">
      <div class="Width--15 Float--left">
        <div>
          <button md-mini-fab [color]="getButtonColorStyle(showFilters)"
                  (click)="showFiltersTable()">
            <!--<i class="fas fa-dataFilter"></i>-->
            <i class="fas fa-search"></i>
          </button>
          Search
        </div>
        <div *ngIf="(errorMessage === null || errorMessage === '') ">
          <br>
          <div id="searchTable" *ngIf="showFilters" class="table">
            <button md-raised-button color="primary" (click)="doFilter()">Search</button>
            <button md-raised-button color="primary" (click)="clearManualFilters()">Clear</button>

            <ng-container *ngFor="let key of getKeys()">
              <table *ngFor="let filter of selectedColumns[key]" style="border: none">
                <ng-container *ngIf="filter.participantColumn.name !== 'ddp'">
                  <app-filter-column [dataFilter]="filter" [editable]="true"></app-filter-column>
                </ng-container>
              </table>
            </ng-container>

            <button md-raised-button color="primary" (click)="doFilter()">Search</button>
            <button md-raised-button color="primary" (click)="clearManualFilters()">Clear</button>
          </div>
        </div>
        <div>
          <button md-mini-fab color="Color--primary"
                  (click)="clearFilter()">
            <i class="fas fa-sync-alt"></i>
          </button>
          Reload With Default Filter
        </div>
        <br>
        <div>
          <button md-mini-fab [color]="getButtonColorStyle(showCustomizeViewTable)"
                  (click)="showCustomizeView()">
            <i class="fas fa-server"></i>
          </button>
          Customize View
        </div>
        <div *ngIf="showCustomizeViewTable">
          <br>

          <ng-container *ngFor="let key of getKeys()">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                {{dataSources.get(key)}} Columns
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile" id="{{key}}"
                  (click)="onclickDropDown($event)">
                <li *ngFor="let column of sourceColumns[key]">
                  <md-checkbox color="primary" disableRipple
                               (change)="addOrRemoveColumn(column, key)"
                               [checked]="selectedColumns[key] != null && selectedColumns[key].includes(column)">{{column.participantColumn.display}}
                  </md-checkbox>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
        <br>
        <div>
          <button md-mini-fab color="Color--primary"
                  (click)="openModal('saveFilter')">
            <i class="fas fa-save"></i>
          </button>
          Save Current View
        </div>
        <br>
        <div>
          <button md-mini-fab [color]="getButtonColorStyle(showSavedFilters)"
                  (click)="showSavedFiltersPanel()">
            <i class="fas fa-filter"></i>
          </button>
          Saved Filters
        </div>
        <div *ngIf="showSavedFilters && savedFilters != null" id="savedFiltersPanel">
          <br>
          <span>
        <i class="fas fa-user-circle fa-sm Color--primary"></i>
            <b>My Views/Filters</b>
      </span>
          <table>
            <ng-container *ngFor="let savedFilter of savedFilters; let i=index">
              <tr *ngIf="hasRole().userID() == savedFilter.userId">
                <td>
                  {{savedFilter.filterName}}
                </td>
                <td>
                  <button md-icon-button [color]="getFilterButtonColorStyle(isSelectedFilter(savedFilter.filterName))"
                          (click)="selectFilter(savedFilter)">
                    <md-icon>
                      <i class="fas fa-filter fa-sm"></i>
                    </md-icon>
                  </button>
                </td>
                <td class="TD--Padding-Left-TINY">
                  <button md-icon-button [color]="getFilterButtonColorStyle(savedFilter.shared)"
                          (click)="shareFilter(savedFilter, i)">
                    <md-icon>
                      <i class="fas fa-share-square"></i>
                    </md-icon>
                  </button>
                </td>
                <td class="TD--Padding-Left-TINY">
                  <button color="warn"
                          md-icon-button (click)="deleteView(savedFilter)">
                    <md-icon>
                      <i class="fas fa-trash-alt fa-sm"></i>
                    </md-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
          <br>
          <span>
        <i class="fas fa-users fa-sm Color--primary"></i>
            <b>Shared Views/Filters</b>
      </span>
          <table>
            <ng-container *ngFor="let savedFilter of savedFilters">
              <tr *ngIf="hasRole().userID() != savedFilter.userId">
                <td>
                  {{savedFilter.filterName}}
                </td>
                <td>
                  <button md-icon-button [color]="getFilterButtonColorStyle(isSelectedFilter(savedFilter.filterName))"
                          (click)="selectFilter(savedFilter)">
                    <md-icon>
                      <i class="fas fa-filter fa-sm"></i>
                    </md-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
        <br>

      </div>

      <div class="Float--left Width--85">

        <div class="Float--left Width--100">
          <div>
          <span *ngFor="let qFilter of quickFilters">
            <button md-mini-fab [color]="getButtonColorStyle(qFilter.selected)" (click)="selectFilter(qFilter)">
              <span tooltip="{{qFilter.filterName}}">
                <i class="{{qFilter.icon}}" [ngClass]="{'fa-inverse': qFilter.selected}"></i>
              </span>
            </button>
          </span>
            <span class="Float--right">
            <button md-mini-fab color="Color--primary"
                    (click)="showHelp = !showHelp" [color]="getButtonColorStyle(showHelp)">
              <span tooltip="Search Help">
                <i class="fas fa-info"></i>
              </span>
            </button>
            <button md-mini-fab color="Color--primary"
                    (click)="downloadCurrentData()">
              <span tooltip="Download List">
                <i class="fas fa-file-download fa-lg"></i>
              </span>
            </button>
          </span>
          </div>
          <br/>
        </div>

        <app-search-bar [textQuery]="filterQuery" [allFieldNames]="allFieldNames" (queryText)="doFilterByQuery($event)"
                        [showHelp]="showHelp" [filters]="sourceColumns">
        </app-search-bar>

        <table class="table table-striped Table--Hover Table--Foot Width--100">
          <!--#mf="mfDataTable" [mfRowsOnPage]="hasRole().getUserSetting().getRowsPerPage()"-->
          <thead>
          <th></th> <!-- needed for the first column with checkbox -->
          <ng-container *ngFor="let alias of getKeys()">
            <th *ngFor="let col of selectedColumns[alias]" (click)="sortByColumnName(col, alias)"
                tooltip="{{getTableAlias(col.participantColumn)}}.{{col.participantColumn.name}}"
                [ngClass]="{'Table--Sticky': true, 'Color--blue': isSortField(col.participantColumn.name)}">
              {{col.participantColumn.display}}
              <span *ngIf="isSortField(col.participantColumn.name)">
               <span *ngIf="sortDir === 'asc'">
                 <i class="fas fa-sort-alpha-down"></i>
               </span>
               <span *ngIf="sortDir === 'desc'">
                 <i class="fas fa-sort-alpha-up"></i>
               </span>
             </span>
            </th>
          </ng-container>
          </thead>
          <tbody>
          <tr
            *ngFor="let pt of participantList| paginate: { itemsPerPage: hasRole().getUserSetting().getRowsPerPage(), currentPage: activePage }">
            <!--checkbox to assign or trigger blood kits-->
            <td>
              <md-checkbox color="primary" disableRipple *ngIf="pt.participant != null"
                           [checked]="pt.isSelected"
                           (change)="pt.isSelected = $event.checked; checkboxChecked()"></md-checkbox>
            </td>

            <!--profile values or dsm values-->
            <ng-container *ngFor="let alias of getKeys()">
              <td *ngFor="let col of selectedColumns[alias]"
                  (click)="openParticipant(pt, alias)">
                <ng-container *ngIf="col.participantColumn.esData && pt.data.activities != null">

                  <ng-container *ngIf="pt.data.getActivityDataByCode(alias) as activityData">
                    <ng-container *ngIf="col.participantColumn.name === 'createdAt' || col.participantColumn.name === 'completedAt'
            || col.participantColumn.name === 'lastUpdatedAt' || col.participantColumn.name === 'status'">
                      <div
                        *ngIf="activityData[col.participantColumn.name] != null && col.participantColumn.name !== 'status'">
                        {{activityData[col.participantColumn.name] | date:'medium'}}
                      </div>
                      <div
                        *ngIf="activityData[col.participantColumn.name] != null && col.participantColumn.name === 'status'">
                        <ng-container
                          *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, activityData[col.participantColumn.name])}}
                        </ng-container>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="col.participantColumn.name !== 'createdAt' && col.participantColumn.name !== 'completedAt'
            && col.participantColumn.name !== 'lastUpdatedAt' && col.participantColumn.name !== 'status' && activityData.questionsAnswers != null">
                      <ng-container
                        *ngIf="getQuestionAnswerByName(activityData.questionsAnswers, col.participantColumn.name) as questionAnswer">
                        <div *ngIf="questionAnswer != null">
                          <ng-container
                            *ngIf="questionAnswer.questionType === 'TEXT' || questionAnswer.questionType === 'NUMERIC'">
                            {{questionAnswer.answer}}
                          </ng-container>
                          <ng-container
                            *ngIf="questionAnswer.questionType === 'BOOLEAN' || questionAnswer.questionType === 'AGREEMENT'">
                            {{getUtil().getYesNo(questionAnswer.answer)}}
                          </ng-container>
                          <ng-container
                            *ngIf="questionAnswer.questionType === 'DATE' && questionAnswer.dateFields != null">
                            {{questionAnswer.dateFields.month}}/{{questionAnswer.dateFields.day}}
                            /{{questionAnswer.dateFields.year}}
                          </ng-container>
                          <ng-container
                            *ngIf="questionAnswer.questionType === 'COMPOSITE' && questionAnswer.answer != null">
                            <div *ngFor="let answer of questionAnswer.answer; let i = index">
                              <div *ngFor="let compPart of answer" class="TD--Padding-Left-Bigger">
                                {{getUtil().getNiceUserText(compPart)}}
                              </div>
                              <hr *ngIf="i !== questionAnswer.answer.length-1" style="border-color: lightgray">
                            </div>
                          </ng-container>
                          <ng-container
                            *ngIf="questionAnswer.questionType === 'PICKLIST' && questionAnswer.answer != null">
                            <ng-container
                              *ngIf="getUtil().getQuestionDefinition(activityDefinitionList, alias, questionAnswer.stableId) as qDef">
                              <ng-container *ngIf="qDef.selectMode === 'MULTIPLE'">
                                <ul *ngFor="let o of qDef.options">
                                  <li *ngIf="getUtil().isOptionSelected(questionAnswer.answer, o.optionStableId)">
                                    <div>{{o.optionText}}</div>
                                    <ng-container *ngIf="getUtil().getOptionDetails(questionAnswer.optionDetails, o.optionStableId) as oDetail">
                                      <div>{{oDetail.details}}
                                      </div>
                                    </ng-container>
                                  </li>
                                </ul>
                              </ng-container>
                              <ng-container *ngIf="qDef.selectMode === 'SINGLE'">
                                <ng-container *ngIf="questionAnswer.answer[0] != null">
                                  <div class="TD--Padding-Left-Bigger">{{getUtil().getOptionText(qDef.options, questionAnswer.answer[0])}}</div>
                                  <ng-container *ngIf="getUtil().getOptionDetails(questionAnswer.optionDetails, questionAnswer.answer[0]) as oDetail">
                                    <div>{{oDetail.details}}
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!col.participantColumn.esData">
                  <div *ngIf="alias === 'data' && pt.data != null">
                    <ng-container *ngIf="col.type === 'DATE'">
                      <ng-container *ngIf="col.participantColumn.object != null">
                        {{pt.data[col.participantColumn.object][col.participantColumn.name] | date:'medium'}}
                      </ng-container>
                      <ng-container *ngIf="col.participantColumn.object == null">
                        {{pt.data[col.participantColumn.name] | date:'medium'}}
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="col.type === 'DATE_SHORT'">
                      <ng-container *ngIf="col.participantColumn.object != null">
                        {{pt.data[col.participantColumn.object][col.participantColumn.name] | date:'shortDate'}}
                      </ng-container>
                      <ng-container *ngIf="col.participantColumn.object == null">
                        {{pt.data[col.participantColumn.name] | date:'shortDate'}}
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="col.type === 'OPTIONS' && col.participantColumn.object == null && pt.data[col.participantColumn.name] != null">
                      {{getUtil().getNameValue(col.options, pt.data[col.participantColumn.name])}}
                    </ng-container>
                    <ng-container *ngIf="col.type === 'BOOLEAN' && col.participantColumn.object != null && pt.data[col.participantColumn.object] != null
                    && pt.data[col.participantColumn.object][col.participantColumn.name]!= null">
                      {{getUtil().getYesNo(pt.data[col.participantColumn.object][col.participantColumn.name])}}
                    </ng-container>
                    <ng-container *ngIf="col.type !== 'OPTIONS' && col.type !== 'BOOLEAN' && col.type !== 'DATE' && col.type !== 'DATE_SHORT'">
                      <ng-container *ngIf="col.participantColumn.object == null && pt.data[col.participantColumn.name] != null">
                        {{pt.data[col.participantColumn.name]}}
                      </ng-container>
                      <ng-container
                        *ngIf="col.participantColumn.object != null && pt.data[col.participantColumn.object] != null && pt.data[col.participantColumn.object][col.participantColumn.name]!= null">
                        {{pt.data[col.participantColumn.object][col.participantColumn.name]}}
                      </ng-container>
                    </ng-container>
                  </div>
                  <div *ngIf="alias === 'p' && pt.participant != null">
                    <ng-container
                      *ngIf="pt.participant[col.participantColumn.name] != null && col.type !== 'ADDITIONALVALUE' && col.type !== 'DATE' && col.type !== 'CHECKBOX'">
                      {{pt.participant[col.participantColumn.name]}}
                    </ng-container>
                    <ng-container *ngIf="col.type === 'ADDITIONALVALUE' && pt.participant['additionalValues'] != null
                          && pt.participant['additionalValues'][col.participantColumn.name] != null">
                      <ng-container *ngIf="col.additionalType === 'DATE'">
                        {{pt.participant['additionalValues'][col.participantColumn.name] | date:'shortDate'}}
                      </ng-container>
                      <ng-container *ngIf="col.additionalType === 'CHECKBOX'">
                        {{getUtil().getYesNo(pt.participant['additionalValues'][col.participantColumn.name])}}
                      </ng-container>
                      <ng-container *ngIf="col.additionalType !== 'DATE' && col.additionalType !== 'CHECKBOX'">
                        {{pt.participant['additionalValues'][col.participantColumn.name]}}
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="pt.participant[col.participantColumn.name] != null && col.type === 'CHECKBOX'">
                      {{getUtil().getYesNo(pt.participant[col.participantColumn.name])}}
                    </ng-container>
                    <ng-container *ngIf="pt.participant[col.participantColumn.name] != null && col.type === 'DATE'
                        && pt.participant[col.participantColumn.name] != 0">
                      {{pt.participant[col.participantColumn.name] | date:'shortDate'}}
                    </ng-container>
                  </div>
                  <div *ngIf="alias === 'm'">
                    <ul class="NO-PADDING-START">
                      <li class="LIST-SEPARATOR" *ngFor="let mr of pt.medicalRecords">
                        <p class="BIT-OF-MARGIN" *ngIf="mr.showInstitution()">
                          <ng-container
                            *ngIf="col.type !== 'ADDITIONALVALUE' && col.type !== 'BOOLEAN' && col.type !== 'OPTIONS' && col.type !== 'CHECKBOX' && col.type !== 'DATE'">
                            {{mr[col.participantColumn.name]}}
                          </ng-container>
                          <ng-container *ngIf="col.type === 'ADDITIONALVALUE' && mr['additionalValues'] != null
                          && mr['additionalValues'][col.participantColumn.name] != null">
                            <ng-container *ngIf="col.additionalType === 'DATE'">
                              {{mr['additionalValues'][col.participantColumn.name] | date:'shortDate'}}
                            </ng-container>
                            <ng-container *ngIf="col.additionalType === 'CHECKBOX'">
                              {{getUtil().getYesNo(mr['additionalValues'][col.participantColumn.name])}}
                            </ng-container>
                            <ng-container *ngIf="col.additionalType !== 'DATE' && col.additionalType !== 'CHECKBOX'">
                              {{mr['additionalValues'][col.participantColumn.name]}}
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'BOOLEAN' || col.type === 'CHECKBOX'">{{getUtil().getYesNo(mr[col.participantColumn.name])}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, mr[col.participantColumn.name])}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'DATE'">{{getUtil().getDateFormatted(mr[col.participantColumn.name])}}
                          </ng-container>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="alias === 'oD'">
                    <ul class="NO-PADDING-START">
                      <li class="LIST-SEPARATOR" *ngFor="let onc of pt.oncHistoryDetails">
                        <p class="BIT-OF-MARGIN"
                           *ngIf="onc.oncHistoryDetailId != null && onc.oncHistoryDetailId !== ''">
                          <ng-container
                            *ngIf="col.type !== 'ADDITIONALVALUE' && col.type !== 'DATE' && col.type !== 'OPTIONS' && col.type !== 'CHECKBOX' && col.type !== 'BOOLEAN'">
                            {{onc[col.participantColumn.name]}}
                          </ng-container>
                          <ng-container *ngIf="col.type === 'ADDITIONALVALUE' && onc['additionalValues'] != null
                          && onc['additionalValues'][col.participantColumn.name] != null">
                            <ng-container *ngIf="col.additionalType === 'DATE'">
                              {{onc['additionalValues'][col.participantColumn.name] | date:'shortDate'}}
                            </ng-container>
                            <ng-container *ngIf="col.additionalType === 'CHECKBOX'">
                              {{getUtil().getYesNo(onc['additionalValues'][col.participantColumn.name])}}
                            </ng-container>
                            <ng-container *ngIf="col.additionalType !== 'DATE' && col.additionalType !== 'CHECKBOX'">
                              {{onc['additionalValues'][col.participantColumn.name]}}
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'DATE'">{{getUtil().getDateFormatted(onc[col.participantColumn.name])}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, onc[col.participantColumn.name])}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'BOOLEAN' || col.type === 'CHECKBOX'">{{getUtil().getYesNo(onc[col.participantColumn.name])}}
                          </ng-container>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="alias === 't'">
                    <ul class="NO-PADDING-START">
                      <li class="LIST-SEPARATOR" *ngFor="let onc of pt.oncHistoryDetails">
                        <ul class="NO-PADDING-START"
                            *ngIf="onc.oncHistoryDetailId != null && onc.oncHistoryDetailId !== ''">
                          <li class="LIST-SEPARATOR" *ngFor="let tissue of onc.tissues" (click)="openTissue(pt, onc)">
                            <p class="BIT-OF-MARGIN" *ngIf="tissue.tissueId != null && tissue.tissueId !== ''">
                              <ng-container
                                *ngIf="col.type !== 'ADDITIONALVALUE' && col.type !== 'DATE' && col.type !== 'OPTIONS' && col.type !== 'CHECKBOX' && col.type !== 'BOOLEAN'">
                                {{tissue[col.participantColumn.name]}}
                              </ng-container>
                              <ng-container *ngIf="col.type === 'ADDITIONALVALUE' && tissue['additionalValues'] != null
                              && tissue['additionalValues'][col.participantColumn.name] != null">
                                <ng-container *ngIf="col.additionalType === 'DATE'">
                                  {{tissue['additionalValues'][col.participantColumn.name] | date:'shortDate'}}
                                </ng-container>
                                <ng-container *ngIf="col.additionalType === 'CHECKBOX'">
                                  {{getUtil().getYesNo(tissue['additionalValues'][col.participantColumn.name])}}
                                </ng-container>
                                <ng-container
                                  *ngIf="col.additionalType !== 'DATE' && col.additionalType !== 'CHECKBOX'">
                                  {{tissue['additionalValues'][col.participantColumn.name]}}
                                </ng-container>
                              </ng-container>
                              <ng-container
                                *ngIf="col.type === 'DATE'">{{getUtil().getDateFormatted(tissue[col.participantColumn.name])}}
                              </ng-container>
                              <ng-container
                                *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, tissue[col.participantColumn.name])}}
                              </ng-container>
                              <ng-container
                                *ngIf="col.type === 'BOOLEAN' || col.type === 'CHECKBOX'">{{getUtil().getYesNo(onc[col.participantColumn.name])}}
                              </ng-container>
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="alias === 'k'">
                    <ul class="NO-PADDING-START">
                      <li class="LIST-SEPARATOR" *ngFor="let sample of pt.kits">
                        <p class="BIT-OF-MARGIN">
                          <ng-container
                            *ngIf="col.type !== 'DATE' && col.type !== 'BOOLEAN' && col.type !== 'OPTIONS'">{{sample[col.participantColumn.name]}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'BOOLEAN'">{{getUtil().getYesNo(sample[col.participantColumn.name])}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'DATE' && sample[col.participantColumn.name] != 0">{{sample[col.participantColumn.name] |
                            date:'medium'}}
                          </ng-container>
                          <ng-container
                            *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, sample[col.participantColumn.name])}}
                          </ng-container>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="alias === 'a'">
                    <!--final abstraction values-->
                    <ng-container *ngIf="col.participantColumn.object === 'final'">
                      <ng-container *ngIf="getUtil().getAbstractionGroup(pt.abstractionSummary, col.participantColumn.tableAlias) as group">
                        <div *ngIf="getUtil().getAbstractionField(group.fields, col.participantColumn.name) as field">
                          <ng-container *ngIf="col.type === 'multi_type_array'">
                            <div *ngFor="let object of getMultiObjects(field.fieldValue.value); let i = index">
                              <div *ngFor="let key of getMultiKeys(object)">
                                <ng-container *ngIf="isDateValue(object[key])">
                                  {{key}}: {{getDateValue(object[key])}}
                                </ng-container>
                                <ng-container *ngIf="key === 'other'">
                                  <ng-container *ngFor="let otherV of object[key]">
                                    <ng-container *ngFor="let oV of getMultiKeys(otherV)">
                                      Other - {{oV}}: {{otherV[oV]}}
                                    </ng-container>
                                  </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!isDateValue(object[key]) && key !== 'other'">
                                  {{key}}: {{object[key]}}
                                </ng-container>
                              </div>
                              <hr *ngIf="i !== getMultiObjects(field.fieldValue.value).length-1" style="border-color: lightgray">
                            </div>
                          </ng-container>
                          <ng-container *ngIf="col.type === 'TEXT'">TEXT: {{field.fieldValue.value}}</ng-container>
                          <ng-container *ngIf="col.type === 'multi_type'">multi_type: {{field.fieldValue.value}}</ng-container>
                          <ng-container *ngIf="col.type === 'OPTIONS'">Options: {{field.fieldValue.value}}</ng-container>
                        </div>
                      </ng-container>
                    </ng-container>
                    <!--abstraction activity values-->
                    <ng-container *ngIf="col.participantColumn.object == null">
                      <ul class="NO-PADDING-START">
                        <li class="LIST-SEPARATOR" *ngFor="let abs of pt.abstractionActivities">
                          <p class="BIT-OF-MARGIN" *ngIf="abs.activity !== 'final'">
                            <ng-container *ngIf="col.type !== 'OPTIONS'">
                              {{abs[col.participantColumn.name]}}
                            </ng-container>
                            <ng-container
                              *ngIf="col.type === 'OPTIONS'">{{getOptionDisplay(col.options, abs[col.participantColumn.name])}}
                            </ng-container>
                          </p>
                        </li>
                      </ul>
                    </ng-container>
                  </div>
                </ng-container>
              </td>
            </ng-container>
          </tr>
          </tbody>
          <tfoot *ngIf="participantList != null">
          <tr>
            <td [attr.colspan]="getColSpan()">
              <pagination-controls class="custom-pagination" (pageChange)="activePage = $event"></pagination-controls>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="getColSpan()">
              <b># of participants: {{participantList.length}}</b>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="getColSpan()">
              <button md-raised-button color="primary"
                      (click)="openModal('assignParticipant')" [disabled]="isAssignButtonDisabled">Assign
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>


  <app-modal>
    <div class="app-modal-header">
      <ng-container *ngIf="modalAnchor === 'saveFilter'">Please enter a name for your filter</ng-container>
      <ng-container *ngIf="modalAnchor === 'assignParticipant'">Select the person you want to assign the participant
      </ng-container>
    </div>
    <div class="app-modal-body">
      <ng-container *ngIf="modalAnchor === 'saveFilter'">
        <md-input-container class="Input Input--Bigger-WIDTH">
          <input mdInput type="text" maxlength="200" autocomplete="off" placeholder="Filter Name"
                 [(ngModel)]="filterName">
        </md-input-container>
      </ng-container>
      <ng-container *ngIf="modalAnchor === 'assignParticipant'">
        <md-checkbox color="primary" disableRipple
                     [(ngModel)]="assignMR">Assign to request MR
        </md-checkbox>
        <br/>
        <md-checkbox color="primary" disableRipple
                     [(ngModel)]="assignTissue">Assign to request Tissue
        </md-checkbox>
        <app-assignee (selectedAssignee)="assigneeSelected($event)" [assignees]="assignees"></app-assignee>
      </ng-container>
    </div>
    <div class="app-modal-footer">
      <ng-container *ngIf="modalAnchor === 'saveFilter'">
        <button type="button" class="btn btn-primary"
                (click)="modal.hide()">Cancel
        </button>
        <button type="button" class="btn btn-primary" [disabled]="filterName == null || filterName === ''"
                (click)="saveCurrentFilter()">
          Save filter
        </button>
      </ng-container>
      <ng-container *ngIf="modalAnchor === 'assignParticipant'">
        <button type="button" class="btn btn-default"
                (click)="modal.hide(); isAssignButtonDisabled = false">Close
        </button>
        <button type="button" class="btn btn-primary"
                (click)="assign()" [disabled]="!assignMR && !assignTissue">Assign
        </button>
      </ng-container>
    </div>
  </app-modal>


</ng-container>
