<h1> Participant Withdrawal </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

  <span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>

<div *ngIf="allowedToSeeInformation">
  <div *ngIf="realm != null" class="Float--left Width--80">
    <div>
      <md-input-container>
        <input mdInput type="text" [(ngModel)]="participantId" placeholder="Participant ID" maxlength="200" style="width: 10cm">
      </md-input-container>
      <md-checkbox color="primary" disableRipple
                   [checked]="deletedFromDDP" (change)="deletedFromDDP = $event.checked">Delete from DDP</md-checkbox>
      <button md-raised-button type="button" color="primary"
              (click)="exitParticipant()"
              [disabled]="participantId == null">Withdraw Participant</button>
    </div>
    <div>
      <b>If your participant is a migrated one and has a altPID please use that ID to withdraw the participant, otherwise use the GUID</b>
      <b>
        Selecting <u>'Delete from DDP'</u> will not delete the participant data from the DDP (yet), but will prevent DSM from asking the DDP for the Short ID of that participant.
        <br/>Please select it, if you going to delete the participant from the DDP
      </b>
    </div>
    <br/>
    <br/>
    <br/>
  </div>

  <div *ngIf="realm != null" class="Float--left Width--80">

    <div *ngIf="kits != null && kits.length > 0">
      <p>
        <b>Please select what should be done with kits if they return to GP (if nothing is selected, sample will get set to hold!)</b>
      </p>
      <ng-container>
        <tr *ngFor="let kit of kits">
          <td class="Width--50">{{kit.kitType}}</td>
          <td class="Width--50">
            <md-select class="Input--Min-WIDTH"
                       [(ngModel)]="kit.action" (change)="saveStatusKits(kit)">
              <md-option value="hold">Hold</md-option>
              <md-option value="discard">Discard</md-option>
            </md-select>
          </td>
        </tr>
      </ng-container>
      <br/>
      <br/>
    </div>

    <div *ngIf="exitedParticipants.length === 0">
      <h4>There are no withdrawn participants</h4>
    </div>

    <div *ngIf="exitedParticipants.length > 0">

      <table class="table table-striped Width--100" [mfData]="exitedParticipants | participantExitSort" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="realm">DDP-Realm</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="shortId">Short ID</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="altPid">Participant ID</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="user">User</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="exitDate">Date</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exit of mf.data">
          <td>{{exit.realm}}</td>
          <td>{{exit.shortId}}
            <div *ngIf="exit.legacyShortId != null">
              <!--legacy shortId -->
              {{exit.legacyShortId}}
            </div>
          </td>
          <td>{{exit.participantId}}</td>
          <td>{{exit.user}}</td>
          <td>
            <ng-container *ngIf="exit.exitDate !== 0">{{exit.exitDate | date:'medium'}}</ng-container>
          </td>
        </tr>
        <tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
