# See http://help.github.com/ignore-files/ for more about ignoring files.

# client
/client/dist
/client/tmp
/client/dist
/client/tmp
/client/node_modules
/client/tslint.json

# server
/server/target

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e

#System Files
.DS_Store
Thumbs.db

# DO NOT COMMIT RENDERED SECRETS INTO SOURCE CONTROL
server/config/test-config.conf
server/config/vault.conf
server/config/dev-keystore
server/config/dev-keystore2
server/config/test-keystore
server/config/staging-keystore
server/config/prod-keystore
server/config/prod-keystore2
server/config/dev-gcloud-creds.json
server/config/test-gcloud-creds.json
server/config/staging-gcloud-creds.json
server/config/prod-gcloud-creds.json

server/src/test/resources/output

client/src/assets/js/ddp_config.js


logs
*.log
*.iml
*.pem
*.env
*.jks

