# See http://help.github.com/ignore-files/ for more about ignoring files.

tcell
appengine/*.conf
appengine/deploy/lib
appengine/deploy/*.conf
appengine/deploy/*.xml
appengine/deploy/*.jar
appengine/deploy/tcell/*

# This file is rendered.
appengine/deploy/StudyManager.yaml
StudyManager.yaml

# IDEs and editors
.idea
target
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e

#System Files
.DS_Store
Thumbs.db

# DO NOT COMMIT RENDERED SECRETS INTO SOURCE CONTROL
config/test-config.conf
config/vault.conf
config/dev-keystore
config/dev-keystore2
config/dev-keystore3
config/test-keystore
config/test-keystore2
config/staging-keystore
config/staging-keystore2
config/prod-keystore
config/prod-keystore2
config/prod-keystore3
config/dev-gcloud-creds.json
config/dev-gcloud-creds-sql.json
config/test-gcloud-creds.json
config/staging-gcloud-creds.json
config/prod-gcloud-creds.json
appengine/deploy/vault.conf
liquibase.properties

src/test/resources/output
target/
app-deploy

logs
*.log
*.iml
*.pem
*.env
*.jks
