.idea
logs
*.log
*.iml
*.pem
*.env
*.jks

server/config/test-config.conf
server/config/vault.conf
server/config/dev-keystore
server/config/test-keystore
server/config/staging-keystore
server/config/prod-keystore
server/config/dev-gcloud-creds.json
server/config/test-gcloud-creds.json
server/config/staging-gcloud-creds.json
server/config/prod-gcloud-creds.json

server/src/test/resources/output
