<div class="TD--Padding-Bottom">
  <md-checkbox color="primary" [disabled]="disabled"
               (change)="valuesChanged($event, 'no', null)" [(ngModel)]="nope"
               disableRipple>No {{fieldName}}
  </md-checkbox>
</div>
<ng-container *ngIf="jsonArray !== 'no'">
  <div *ngFor="let v of multiTypes; let i = index">
    <div *ngIf="!v.del">
      <app-field-multi-type [disabled]="disabled" [values]="possibleValues" [multiType]="v" [fieldName]="fieldName"
                            [drugs]="drugs" [cancers]="cancers" [patchFinished]="finished"
                            (multiTypeChanged)="valuesChanged($event, null, i)"></app-field-multi-type>
      <ng-container *ngIf="i < possibleValues.length - 1">
        <hr>
      </ng-container>
    </div>
  </div>
  <button md-mini-fab color="primary" [disabled]="disabled" tooltip="Add {{fieldName}}"
          (click)="addAction()">
    <i class="fas fa-plus fa-lg"></i>
  </button>
  <span><b>  Add another {{fieldName}}</b></span>
</ng-container>


<app-modal>
  <div class="app-modal-header">
    Warning
  </div>
  <div class="app-modal-body">
    Do you want to delete all previous entered {{fieldName}}?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default"
            (click)="abort(); universalModal.hide()">Cancel
    </button>
    <button type="button" class="btn btn-default"
            (click)="changeToNothing()">Ok
    </button>
  </div>
</app-modal>
