<div *ngFor="let question of questions; let i = index ">
  <div *ngIf="!question.del">
    <app-field-question [disabled]="disabled" [question]="question" [isQuestionArray]="true" [resolved]="resolved"
                        (qChanged)="questionChanged($event, i)"></app-field-question>
  </div>
</div>
<button md-mini-fab color="primary" [disabled]="disabled" tooltip="Add Question"
        (click)="addQuestion()">
  <i class="fas fa-plus fa-lg"></i>
</button>
<span><b>  Add another Question</b></span>

<md-checkbox color="primary"
             [(ngModel)]="resolved" (change)="questionChanged($event, null)"
             disableRipple>Resolved
</md-checkbox>
