<div class="Display--block Width--100">
  <fieldset style="border: 1px black solid">
    <legend class="Group--Title" id="{{activity.activityCode}}">{{activityDefinition.activityName}}</legend>
    <div class="Router--Outlet">
      <div>Created: {{activity.createdAt | date:'medium'}}</div>
      <div>Completed: {{activity.completedAt | date:'medium'}}</div>
      <div>Last Updated: {{activity.lastUpdatedAt | date:'medium'}}</div>
    </div>
    <table class="Width--100 Table--box" *ngFor="let questionAnswer of activity.questionsAnswers; let questionIndex = index">
      <!--abstraction fields-->
      <ng-container *ngIf="questionAnswer != null && questionAnswer.stableId != null && activityDefinition != null && activityDefinition.questions != null">
        <ng-container *ngIf="activityDefinition.getQuestionDefinition(questionAnswer.stableId) as qDef">
          <ng-container *ngIf="qDef != null">
            <tr>
              <td class="TD--Padding Width--50 Data-Display-Question">{{qDef.questionText}} <b>({{questionAnswer.stableId}})</b></td>
            </tr>
            <tr>
              <td class="TD--Padding-Left Width--50">
                <ng-container *ngIf="qDef.questionType !== 'TEXT' && qDef.questionType !== 'NUMERIC' && qDef.questionType !== 'BOOLEAN' && qDef.questionType !== 'AGREEMENT'
                  && qDef.questionType !== 'COMPOSITE' && qDef.questionType !== 'PICKLIST' && qDef.questionType !== 'DATE'">
                  {{questionAnswer.questionType}}
                </ng-container>
                <b *ngIf="qDef.questionType === 'TEXT' || qDef.questionType === 'NUMERIC'" class="TD--Padding-Left-Bigger">
                  {{questionAnswer.answer}}
                </b>
                <ng-container *ngIf="qDef.questionType === 'DATE'">
                  <b *ngIf="questionAnswer.date != null && questionAnswer.date !== ''" class="TD--Padding-Left-Bigger">
                    <ng-container *ngIf="questionAnswer.date.length == 10">
                      {{questionAnswer.date | date:'shortDate'}}
                    </ng-container>
                    <ng-container *ngIf="questionAnswer.date.length != 10">
                      {{questionAnswer.date}}
                    </ng-container>
                  </b>
                </ng-container>
                <b *ngIf="qDef.questionType === 'BOOLEAN' || qDef.questionType === 'AGREEMENT'" class="TD--Padding-Left-Bigger">
                  {{getUtil().getYesNo(questionAnswer.answer)}}
                </b>
                <ng-container *ngIf="qDef.questionType === 'COMPOSITE' && questionAnswer.answer != null">
                  <!--TODO add allowMultiple-->
                  <div *ngFor="let answer of questionAnswer.answer; let i = index">
                    <div *ngFor="let cQ of qDef.childQuestions; let i = index" class="TD--Padding-Left-Bigger">
                      <b *ngIf="cQ.questionType === 'DATE' && answer[i] != null">
                        {{getUtil().getNiceUserText(answer[i])}}
                      </b>
                      <b *ngIf="cQ.questionType === 'PICKLIST' && answer[i] != null">
                        {{getUtil().getOptionText(cQ.options, answer[i])}}
                      </b>
                      <b *ngIf="cQ.questionType !== 'DATE' && cQ.questionType !== 'PICKLIST' && answer[i] != null">
                        {{getUtil().getNiceUserText(answer[i])}}
                      </b>
                      <b *ngIf="cQ.questionText != null && cQ.questionText !== ''" class="Data-Display-Question">
                        ({{cQ.questionText}})
                      </b>
                    </div>
                    <hr *ngIf="i !== questionAnswer.answer.length-1" style="border-color: lightgray">
                  </div>
                </ng-container>
                <ng-container *ngIf="qDef.questionType === 'PICKLIST' && questionAnswer.answer != null">
                  <ng-container *ngIf="qDef.selectMode === 'MULTIPLE'">
                    <ul *ngFor="let o of qDef.options">
                      <li *ngIf="getUtil().isOptionSelected(questionAnswer.answer, o.optionStableId)"><b>{{o.optionText}}</b>
                        <ng-container *ngIf="getUtil().getOptionDetails(questionAnswer.optionDetails, o.optionStableId) as oDetail">
                          <div>{{oDetail.details}}
                          </div>
                        </ng-container>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="qDef.selectMode === 'SINGLE'">
                    <ng-container *ngIf="questionAnswer.answer[0] != null"><b class="TD--Padding-Left-Bigger">{{getUtil().getOptionText(qDef.options,
                      questionAnswer.answer[0])}}</b>
                      <ng-container *ngIf="getUtil().getOptionDetails(questionAnswer.optionDetails, questionAnswer.answer[0]) as oDetail">
                        <div>{{oDetail.details}}
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
            <hr *ngIf="questionIndex !== activity.questionsAnswers.length-1" style="border-color: lightgray">
          </ng-container>
        </ng-container>
      </ng-container>
    </table>
  </fieldset>
</div>
