<h1 *ngIf="shippingPage === QUEUE"> Kit Queue </h1>
<h1 *ngIf="shippingPage === SENT"> Kits Sent </h1>
<h1 *ngIf="shippingPage === RECEIVED"> Kits Received </h1>
<h1 *ngIf="shippingPage === ERROR"> Kits with Error </h1>
<h1 *ngIf="shippingPage === UPLOADED"> Kits without label </h1>
<h1 *ngIf="shippingPage === TRIGGERED"> Kits label was triggered </h1>
<h1 *ngIf="shippingPage === OVERVIEW"> All Kit Information </h1>
<h1 *ngIf="shippingPage === DEACTIVATED"> Deactivated Kits </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<div *ngIf="allowedToSeeInformation">

  <div class="Float--left Width--25">
    <br/>
    <div *ngIf="kitTypes != null && kitTypes.length > 0">
      <div *ngFor="let type of kitTypes">
        <md-checkbox color="primary" [checked]="type.selected" (change)="type.selected = $event.checked; typeChecked(type)" disableRipple>
          <ng-container *ngIf="type.displayName !== null">{{type.displayName}}</ng-container>
          <ng-container *ngIf="type.displayName == null">{{type.name}}</ng-container>
        </md-checkbox>
      </div>
    </div>
    <br/>
  </div>

  <span [hidden]="!loading" class="Width--100">
  <div align="center" class="Width--100 Height--100">
    <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
  </div>
</span>

  <div class="Float--left Width--100">

    <div *ngIf="kitType !== null && kitType.externalShipper && (shippingPage === UPLOADED || queueToPrint())">
      <h3>Kits will get sent externally</h3>
    </div>

    <div *ngIf="!loading && kitRequests.length === 0 && kitType !== null">
      <ng-container *ngIf="!(kitType.externalShipper && (shippingPage === UPLOADED || queueToPrint()))">
        <h4>There are no kit requests</h4>
      </ng-container>
    </div>

    <div class="Width--100" *ngIf="kitType !== null">
      <ng-container *ngIf="!(kitType.externalShipper && queueToPrint())">
        <button class="Float--right" md-raised-button (click)="reload()" color="primary" [disabled]="loading">Reload Kit List</button>
      </ng-container>
    </div>

    <div *ngIf="kitRequests.length > 0">

      <table class="table table-striped Width--100" [mfData]="kitRequests | kitRequestSort:sort_field:sort_dir |
             kitRequestFilter:shortId:shippingId:reason:trackingTo:trackingReturn:mfCode:noReturn:externalOrderNumber:externalOrderStatus" #mf="mfDataTable"
             [mfRowsOnPage]="getRole().getUserSetting().getRowsPerPage()"
             [mfSortBy]="sort_field" [(mfSortOrder)]="sort_dir">
        <thead>
        <tr>
          <th *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" class="Line--Break">Print
            Kit
            <md-checkbox color="primary" disableRipple
                         [checked]="allSelected" (change)="allSelected = $event.checked; allChecked()"></md-checkbox>
          </th>
          <th>
            <mfDefaultSorter by="collaboratorParticipantId">Short ID</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper">
            <mfDefaultSorter by="shippingId">Shipping ID</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <mfDefaultSorter by="shippingId">External Shipping ID</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <mfDefaultSorter by="shippingId">External Shipping Status</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === ERROR">
            <mfDefaultSorter by="message">Error Reason</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <mfDefaultSorter by="reason">Deactivation Reason</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <mfDefaultSorter by="deactivatedDate">Deactivated</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT">
            <mfDefaultSorter by="trackingNumberTo">Tracking Number</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT">
            <mfDefaultSorter by="trackingNumberReturn">Tracking Return</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === OVERVIEW">
            <mfDefaultSorter by="scanDate">Sent</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <mfDefaultSorter by="receiveDate">Received</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW">
            MF code
          </th>
          <th>
            DDP-Realm
          </th>
          <th>
            Type
          </th>
          <th
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
          </th>
          <th *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
          </th>
          <th *ngIf="kitsWithNoReturn">Return to Broad</th>
          <th *ngIf="queueToPrint() && kitType.manualSentTrack" class="Line--Break">Kit Sent
            <md-checkbox color="primary" [checked]="allSentSelected" (change)="allSentSelected = $event.checked; allSentChecked()" disableRipple></md-checkbox>
          </th>
        </tr>
        <tr>
          <th *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" class="Line--Break">
          </th>
          <th>
            <input class="form-control" [(ngModel)]="shortId"/>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper">
            <input class="form-control" [(ngModel)]="shippingId"/>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <input class="form-control" [(ngModel)]="externalOrderNumber"/>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <input class="form-control" [(ngModel)]="externalOrderStatus"/>
          </th>
          <th *ngIf="shippingPage === ERROR">
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <input class="form-control" [(ngModel)]="reason"/>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED && !kitType.externalShipper">
          </th>
          <th *ngIf="shippingPage === SENT">
            <input class="form-control" [(ngModel)]="trackingTo"/>
          </th>
          <th *ngIf="shippingPage === SENT">
            <input class="form-control" [(ngModel)]="trackingReturn"/>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === OVERVIEW">
          </th>
          <th *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW">
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <input class="form-control" [(ngModel)]="mfCode"/>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
          </th>
          <th *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
          </th>
          <th *ngIf="kitsWithNoReturn">
            <input class="form-control" [(ngModel)]="noReturn"/>
          </th>
          <th *ngIf="getRole().allowedToHandleSamples() && queueToPrint() && kitType.manualSentTrack" class="Line--Break"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let kitRequest of mf.data; let i = index">
          <td *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper">
            <ng-container *ngIf="(shippingPage === UPLOADED && kitRequest.labelTriggeredDate == 0) || queueToPrint()">
              <md-checkbox color="primary" disableRipple
                           [checked]="kitRequest.isSelected" (click)="shiftClick(i, $event)"
                           (change)="kitRequest.isSelected = $event.checked; checkboxChecked()"></md-checkbox>
            </ng-container>
            <ng-container *ngIf="(shippingPage === UPLOADED && kitRequest.labelTriggeredDate != 0)">
              <i class="fas fa-spin fa-cog fa-lg Color--primary"></i>
            </ng-container>
          </td>
          <td>{{kitRequest.getID()}}
            <div *ngIf="kitRequest.express && shippingPage === QUEUE" class="Float--right Router--Outlet">
              <div class="Image--Flag">
                <i class="fa-inverse fas fa-shipping-fast fa-lg" title="Kit with express label" data-fa-transform="down-8 right-4"></i>
              </div>
            </div>
          </td>
          <td *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper" class="Line--Break">{{kitRequest.shippingId}}</td>
          <td *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper" class="Line--Break">{{kitRequest.externalOrderNumber}}</td>
          <td *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper" class="Line--Break">{{kitRequest.externalOrderStatus}}</td>
          <td *ngIf="shippingPage === ERROR" class="Line--Break">{{kitRequest.getError()}}</td>
          <td *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">{{kitRequest.deactivationReason}}</td>
          <td *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <ng-container *ngIf="kitRequest.deactivatedDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.deactivatedDate !== 0">{{kitRequest.deactivatedDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT">
            <ng-container *ngIf="kitRequest.trackingUrlTo != null"><a href="{{kitRequest.trackingUrlTo}}" target="_blank">{{kitRequest.trackingNumberTo}}</a>
            </ng-container>
            <ng-container *ngIf="kitRequest.trackingUrlTo == null">{{kitRequest.trackingNumberTo}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT">
            <ng-container *ngIf="kitRequest.trackingUrlReturn != null"><a href="{{kitRequest.trackingUrlReturn}}" target="_blank">{{kitRequest.trackingNumberReturn}}</a>
            </ng-container>
            <ng-container *ngIf="kitRequest.trackingUrlReturn == null">{{kitRequest.trackingNumberReturn}}</ng-container>
            <ng-container *ngIf="kitRequest.scannedTrackingNumber != null"><a href="{{kitRequest.getScannedTrackingUrl()}}" target="_blank">{{kitRequest.scannedTrackingNumber}}</a>
            </ng-container>
          </td>
          <td *ngIf="shippingPage === SENT || shippingPage === OVERVIEW">
            <ng-container *ngIf="kitRequest.scanDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.scanDate !== 0">{{kitRequest.scanDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <ng-container *ngIf="kitRequest.receiveDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.receiveDate !== 0">{{kitRequest.receiveDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW">
            {{kitRequest.kitLabel}}
          </td>
          <td>{{kitRequest.realm}}</td>
          <td>{{kitRequest.kitType}}</td>
          <td
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
            <button *ngIf="shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" type="button"
                    (click)="setKitRequest(kitRequest, DEACTIVATED); modal.show()" class="btn btn-xs Button--Background--Color">Deactivate
            </button>
            <button *ngIf="shippingPage === DEACTIVATED && !kitType.externalShipper" type="button" (click)="activateKitRequest(kitRequest, false)"
                    class="btn btn-xs Button--Background--Color">Reactivate
            </button>
          </td>
          <td *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
            <button *ngIf="!kitRequest.express" type="button" (click)="setKitRequest(kitRequest, EXPRESS)" class="btn btn-xs Button--Background--Color">Generate
              Express Label
            </button>
          </td>
          <td *ngIf="kitsWithNoReturn">{{getUtil().getYesNo(!kitRequest.noReturn)}}
          </td>
          <td *ngIf="getRole().allowedToHandleSamples() && queueToPrint() && kitType.manualSentTrack">
            <md-checkbox color="primary" [checked]="kitRequest.setSent" (change)="kitRequest.setSent = $event.checked; sentCheckboxChecked()"
                         disableRipple></md-checkbox>
          </td>
        </tr>
        <tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator
              [rowsOnPageSet]="[getRole().getUserSetting().getRowSet0(), getRole().getUserSetting().getRowSet1(), getRole().getUserSetting().getRowSet2()]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      <div *ngIf="getRole().allowedToHandleSamples() && queueToPrint()">
        <div>
          <b>
            Print instructions:
            <ul>
              <li>Change printer margin to <b>none</b></li>
            </ul>
          </b>
        </div>
        <select [ngModel]="selectedLabel" class="SelectText"
                (ngModelChange)="selectSetting($event)">
          <option *ngFor="let label of labelNames" [value]="label">{{label}}</option>
        </select>

        <button md-raised-button color="primary"
                (click)="getSelectedList(shippingPage)" [disabled]="isPrintButtonDisabled">Print Labels
        </button>

        <button md-raised-button color="primary"
                *ngIf="kitType.manualSentTrack"
                (click)="setKitSent()" [disabled]="isSentButtonDisabled">Set Kit Sent
        </button>
      </div>

      <div *ngIf="getRole().allowedToHandleSamples() && shippingPage === UPLOADED && kitType != null && !kitType.externalShipper">
        <button md-raised-button (click)="triggerLabelCreation()" color="primary" [disabled]="isPrintButtonDisabled">Create Labels</button>
      </div>
      <div *ngIf="getRole().allowedToHandleSamples() && (shippingPage === UPLOADED || queueToPrint())">
        <button md-raised-button color="primary"
                *ngIf="needsNameLabels"
                (click)="showNameModal(); modal.show()" [disabled]="isPrintButtonDisabled">Names from Labels
        </button>
      </div>

      <div *ngIf="shippingPage === OVERVIEW">
        <button md-raised-button (click)="downloadReceivedData()" color="primary">Download kit data</button>
      </div>
    </div>
  </div>


  <app-modal>
    <div class="app-modal-header">
      <ng-container *ngIf="modalType === DEACTIVATED">
        Please enter reason for deactivation
      </ng-container>
      <ng-container *ngIf="modalType === ACTIVATED">
        Activation of kit request
      </ng-container>
      <ng-container *ngIf="modalType === NAME_LABELS">
        List of Names from selected {{realm()}} Kits
      </ng-container>
      <ng-container *ngIf="modalType === EXPRESS">
        Express Label
      </ng-container>
    </div>
    <div class="app-modal-body">
      <ng-container *ngIf="modalType === DEACTIVATED">
        <table class="Width--100">
          <tr>
            <td>Reason:</td>
            <td>
              <md-input-container>
                <input mdInput type="text" [(ngModel)]="deactivationReason" class="Width--100 Input--Bigger-WIDTH" maxlength="500">
              </md-input-container>
            </td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="modalType === ACTIVATED">
        {{alertText }}
      </ng-container>
      <ng-container *ngIf="modalType === NAME_LABELS">
        <table class="Width--100">
          <tr *ngFor="let label of kitRequests">
            <ng-container *ngIf="label.isSelected">
              <td>
                {{label.nameLabel}}
              </td>
            </ng-container>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="modalType === EXPRESS && labelRate != null">
        <table class="Width--100">
          <tr>
            <td class="Line--Break">
              <b>Label will cost: ${{labelRate.express}}
                Previous cost was: ${{labelRate.normal}}</b>

              Do you really want to generate a FedEx overnight label?

              Please note that new label generation includes refunding the old label
              which may take a few seconds.
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="closedNameModal(); modal.hide()">Close</button>
      <button *ngIf="modalType === DEACTIVATED" type="button" class="btn btn-primary" (click)="deactivateKitRequest()">Deactivate</button>
      <button *ngIf="modalType === ACTIVATED" type="button" class="btn btn-primary" (click)="activateKitRequest(null, true)">Activate</button>
      <button *ngIf="modalType === EXPRESS" type="button" class="btn btn-primary" (click)="generateExpressLabel()">Generate FedEx Overnight Label</button>
    </div>
  </app-modal>

  <!--DON'T REMOVE - START-->
  <!--Hidden, but needs to be here for the label printing-->
  <span [hidden]="true">
  <div class="app-modal-body Display--Inline-Block" id="labelDiv" style="width: 100%; height: 100%">
    <ng-container *ngFor="let label of selectedKitRequests; let e = even; let i = index;">
      <div *ngIf="e" [ngStyle]="{'height': getTopMargin()}" class="DIV--Without-Border"></div>
      <div [ngStyle]="{'height': getLabelHeight()}" class="DIV--Without-Border">
        <app-kit-label class="DIV--Without-Border Display--Inline-Block" [urlTo]="label.labelUrlTo" [shippingId]="label.shippingId"
                       [urlReturn]="label.labelUrlReturn" [labelSetting]="selectedSetting"></app-kit-label>
      </div>
      <div *ngIf="e" [ngStyle]="{'height': getMarginBetweenTopBottom()}" class="DIV--Without-Border"></div>
      <div *ngIf="!e && selectedKitRequests.length-1 > i" [ngStyle]="{'height': getBottomMargin()}" class="DIV--Without-Border"></div>
    </ng-container>
  </div>

  <div class="app-modal-body Display--Inline-Block" id="errorLabelDiv" style="width: 100%; height: 100%">
    <ng-container *ngFor="let label of selectedKitRequests; let e = even; let i = index;">
      <div *ngIf="e" [ngStyle]="{'height': getTopMargin()}" class="DIV--Without-Border"></div>
      <div [ngStyle]="{'height': getLabelHeight()}" class="DIV--Without-Border">
        <app-error-label class="DIV--Without-Border Display--Inline-Block" [address]="label.participant" [shippingId]="label.shippingId"
                         [labelSetting]="selectedSetting"></app-error-label>
      </div>
      <div *ngIf="e" [ngStyle]="{'height': getMarginBetweenTopBottom()}" class="DIV--Without-Border"></div>
      <div *ngIf="!e && selectedKitRequests.length-1 > i" [ngStyle]="{'height': getBottomMargin()}" class="DIV--Without-Border"></div>
    </ng-container>
  </div>
</span>
  <!--DON'T REMOVE - END-->
</div>
