<h1> Participant Event </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<p>Select a event type and enter the participant ID to prevent DSM for triggering an email to the participant</p>
<p>If your participant is a migrated one and has a altPID please use that ID to prevent DSM from triggering emails, otherwise use the GUID</p>


<span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>

<div *ngIf="allowedToSeeInformation">
  <br/>
  <div *ngIf="realm != null" class="Width--60">
    <div *ngIf="possibleEvents.length === 0">
      <h4>There are no Event Types </h4>
    </div>

    <div *ngIf="possibleEvents.length > 0">
      <md-select placeholder="Event Type" class="Input--Bigger-WIDTH"
                 [(ngModel)]="event">
        <md-option *ngFor="let e of possibleEvents"
                   [value]="e.name">
          {{e.description}}
        </md-option>
      </md-select>
    </div>

    <div *ngIf="realm != null && event != null" class="Width--80">
      <br/>
      <md-input-container>
        <input maxlength="200" style="width: 10cm" mdInput type="text"  placeholder="Participant ID"
               [(ngModel)]="participantId">
      </md-input-container>
      <button md-raised-button type="button" color="primary"
              (click)="triggerSkippingEvent()"
              [disabled]="participantId == null">Deactivate Event Type</button>
    </div>
    <br/>
  </div>


  <div *ngIf="realm != null" class="Float--left Width--80">
    <div *ngIf="participantsSkipped.length === 0">
      <h4>There are no skipped participant events</h4>
    </div>

    <div *ngIf="participantsSkipped.length > 0">

      <table class="table table-striped Width--100" [mfData]="participantsSkipped" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="participantId">Participant ID</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="shortId">Short ID</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="user">User</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="date">Date</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="eventType">Event</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of mf.data">
          <td>{{event.participantId}}</td>
          <td>{{event.shortId}}</td>
          <td>{{event.user}}</td>
          <td>
            <ng-container *ngIf="event.date !== 0">{{event.date | date:'medium'}}</ng-container>
          </td>
          <td>{{event.eventType}}</td>
        </tr>
        <tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
