<h1> Drug List </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<br/>
<!--<b>No need to select a realm!</b>-->
<!--Why does Label Settings page show the above message? Is there value here also?-->
<!--<br/>-->
<div class="Float--left" *ngIf="hasRole().allowedToEditDrugList()">(This user IS allowed to edit drug list)</div>
<div class="Float--left" *ngIf="!hasRole().allowedToEditDrugList()">(This user is NOT allowed to edit drug list)</div>
<br/>

<div *ngIf="errorMessage == null">

  <span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>
  <br/>


  <div *ngIf="drugList != null">
    <table class="table table-striped"
           [mfData]="drugList" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th>
          Display Name
        </th>
        <th>
          Generic Name
        </th>
        <th>
          Brand Name
        </th>
        <th>
          Chemo category
        </th>
        <th>
          Chemo Type
        </th>
        <th>
          Study drug
        </th>
        <th>
          Treatment Type
        </th>
        <th>
          Chemotherapy
        </th>
        <th>
          Date Added
        </th>
        <th  *ngIf="hasRole().allowedToEditDrugList()">
          Active
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let drug of mf.data; let i = index">
        <tr> <!-- For all columns, show as editable if user has permission, otherwise read only -->
          <td>
            <md-input-container class="Input" *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput class="Input--Min-WIDTH" maxlength="45"
                     [(ngModel)]="drug.displayName" (change)="checkDisplayName(i); onChange(i)">
              <md-hint class="ErrorMessageForm" *ngIf="drug.notUniqueError">Name not unique</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.displayName}}</div>
          </td>

          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.genericName" (change)="onChange(i)" class="Width--100" maxlength="100">
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.genericName}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.brandName" (change)="onChange(i)" class="Width--100" maxlength="100">
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.brandName}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.chemocat" (change)="onChange(i)" class="Width--100" maxlength="100">
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.chemocat}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.chemoType" (change)="onChange(i); checkValueLength(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.chemoTypeLengthError">Value too long</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.chemoType}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.studyDrug" (change)="onChange(i); checkValueType(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.notCorrectTypeError">Enter 1 for yes, 0 for no</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.studyDrug}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.treatmentType" (change)="onChange(i); checkValueLength(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.treatmentTypeLengthError">Value too long</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.treatmentType}}</div>
          </td>
          <td>
            <md-input-container  *ngIf="hasRole().allowedToEditDrugList()">
              <input mdInput type="text" [(ngModel)]="drug.chemotherapy" (change)="onChange(i); checkValueLength(i)" class="Width--100" maxlength="100">
              <md-hint class="ErrorMessageForm" *ngIf="drug.chemotherapyLengthError">Value too long</md-hint>
            </md-input-container>
            <div *ngIf="!hasRole().allowedToEditDrugList()">{{drug.chemotherapy}}</div>
          </td>
          <td>
              {{ drug.dateCreated*1000 | date }}
          </td>
          <td>
            <md-checkbox color="primary" *ngIf="hasRole().allowedToEditDrugList()" [checked]="drug.active" (change)="drug.active = $event.checked; this._showWarningModal=true; check(i)" disableRipple></md-checkbox>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="13">
          <mfBootstrapPaginator [rowsOnPageSet]="[10, 15, 1000]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
    <br/>
    <button type="button" *ngIf="hasRole().allowedToEditDrugList()" class="btn btn-primary" (click)="saveDrugListings()">Save Drug Entries</button>
  </div>
</div>


<app-modal>
  <div class="app-modal-header">
    <ng-container *ngIf="_showWarningModal">
      Warning! Deactivating a drug.
    </ng-container>
    <!--<ng-container *ngIf="!_showWarningModal">-->
      <!--Successful!-->
    <!--</ng-container>-->
  </div>
  <div class="app-modal-body">
    <ng-container *ngIf="_showWarningModal">
      {{_warningMessage}}
    </ng-container>
    <!--<ng-container *ngIf="!_showWarningModal">-->
      <!--Successfully updated the destruction policy of this facility.-->
    <!--</ng-container>-->
  </div>
  <div class="app-modal-footer">
    <ng-container *ngIf="_showWarningModal && _warningMessage === _warningChangeMessage">
      <button type="button" class="btn btn-default"
              (click)="applyToAllModal.hide()">Cancel
      </button>
      <button type="button" class="btn btn-default" [disabled]="participantExited"
              (click)="this.applyToAllModal.hide(); doRequest(oncHistoryDetail.destructionPolicy)">Yes
      </button>
    </ng-container>
    <ng-container *ngIf="!_showWarningModal || _warningMessage === _warningChangeMessage">
      <button type="button" class="btn btn-default" [disabled]="participantExited"
              (click)="applyToAllModal.hide();">Ok
      </button>
    </ng-container>
  </div>
</app-modal>
