<h1> MR Abstraction Settings
  <button md-mini-fab color="primary" tooltip="Form generation help"
          [attr.aria-expanded]="!isViewHelp" aria-controls="collapseHelp"
          (click)="isViewHelp = !isViewHelp; doNothing()">
    <i class="fa-inverse fas fa-question fa-sm"></i>
  </button>
</h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>

<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<div *ngIf="errorMessage == null && allowedToSeeInformation">

  <span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>
  <br/>
  <div *ngIf="realm != null && !loading">

    <div *ngIf="abstractionFormControls != null">
      <div class="Float--left Width--100">
        <div id="collapseHelp" [collapse]="isViewHelp" class="card card-block card-header Width--100">
          <div class="well well-lg">
            <div class="Float--right">
              <a href="#" (click)="isViewHelp = !isViewHelp; doNothing()" [attr.aria-expanded]="!isViewHelp" aria-controls="collapseHelp"><i class="fas fa-times fa-lg"></i></a>
            </div>
            <div class="Width--100">
        <span> Setup MR Abstraction form for the selected DDP <br/>
        You can hide a core field by selecting the checkbox <br/>
        New Groups can be added at the end of the form <br/>
        New fields can be added by entering a display name and selecting the field type <br/>
        If you enter a field with type <li>Button-Select</li><li>Multi-Select</li><li>Select</li> you need to add the values which are available for that field<br/></span>
            </div>
          </div>
        </div>

        <app-medical-record-abstraction [abstractionFormControls]="abstractionFormControls" [editForm]="true">
        </app-medical-record-abstraction>
      </div>
      <button md-raised-button (click)="saveSettings()" color="primary"
              [disabled]="saving">Save Settings</button>
      <br/>
    </div>
    <br/>
  </div>
  <br/>
</div>
<br/>
