<div class="Display--block Width--100">
  <fieldset style="border: 1px black solid">
    <legend class="Group--Title" id="{{getDisplayNameWithoutSpace()}}">{{displayName}}</legend>

    <!-- Setup abstraction form -->
    <ng-container *ngIf="setupForm">
      <div class="container Width--100" dragula="{{getDisplayNameWithoutSpace()}}-list-bag" [dragulaModel]='fields'>
        <div *ngFor="let field of fields" class="div Width--100">
          <ng-container *ngIf="!field.deleted">
            <tr>
              <td class="Width--10 Abstraction--Setup--TD">
                <md-input-container [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true}">
                  <input mdInput maxlength="200" autocomplete="off" placeholder="Field Name"
                         [(ngModel)]="field.displayName" (change)="formChanged(field)">
                </md-input-container>
              </td>
              <td class="Abstraction--Setup--TD Width--10">
                <md-select class="Input--Min-WIDTH" placeholder="Field Type" [(ngModel)]="field.type" (change)="formChanged(field)" [disabled]="!field.newAdded">
                  <md-option value="button_select"> Button-Select</md-option>
                  <md-option value="checkbox"> Checkbox</md-option>
                  <md-option value="cancers"> Cancers</md-option>
                  <md-option value="date"> Date</md-option>
                  <md-option value="drugs"> Drugs</md-option>
                  <md-option value="multi_options"> Multi-Select</md-option>
                  <md-option value="textarea"> Multiline-Text</md-option>
                  <md-option value="multi_type"> Multi</md-option>
                  <md-option value="multi_type_array"> Multi-Array</md-option>
                  <md-option value="number"> Number</md-option>
                  <md-option value="options"> Select</md-option>
                  <md-option value="text"> Text</md-option>
                </md-select>
              </td>
              <td class="Abstraction--Setup--TD Width--70">
                <ng-container *ngIf="field.type === 'cancers' || field.type === 'drugs'">
                  <md-select class="Input--Min-WIDTH" placeholder="Input Type" [(ngModel)]="field.additionalType" (change)="formChanged(field)" [disabled]="!field.newAdded">
                    <md-option value="multi_options"> Multi-Select</md-option>
                    <md-option value="options"> Select</md-option>
                    <md-option value="text"> Text</md-option>
                  </md-select>
                </ng-container>
                <ng-container *ngIf="field.type === 'multi_options' || field.type === 'options' || field.type === 'button_select'">
                  <div class="Width--100">
                    <ng-container *ngFor="let value of field.possibleValues; let i = index">
                      <md-input-container [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true}">
                        <input mdInput maxlength="200" autocomplete="off"
                               placeholder="Value {{i+1}}" (change)="formChanged(field)"
                               [(ngModel)]="value.value">
                      </md-input-container>
                    </ng-container>
                    <button md-mini-fab color="primary" tooltip="Add Value"
                            (click)="addValue(field)">
                      <i class="fas fa-plus fa-lg"></i>
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="field.type === 'multi_type' || field.type === 'multi_type_array'">
                  <div class="Width--100" *ngFor="let value of field.possibleValues; let i = index">
                    <md-input-container [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true}">
                      <input mdInput maxlength="200" autocomplete="off"
                             placeholder="Field" [disabled]="!field.newAdded"
                             [(ngModel)]="value.value">
                    </md-input-container>

                    <md-select class="Input--Abstraction" placeholder="Field Type" [(ngModel)]="value.type" (change)="createMultiValue(value)"
                               [disabled]="!field.newAdded">
                      <md-option value="button_select"> Button-Select</md-option>
                      <md-option value="checkbox"> Checkbox</md-option>
                      <md-option value="cancers"> Cancers</md-option>
                      <md-option value="date"> Date</md-option>
                      <md-option value="drugs"> Drugs</md-option>
                      <md-option value="multi_options"> Multi-Select</md-option>
                      <md-option value="textarea"> Multiline-Text</md-option>
                      <md-option value="number"> Number</md-option>
                      <md-option value="options"> Select</md-option>
                      <md-option value="text"> Text</md-option>
                    </md-select>
                    <ng-container *ngIf="value.type === 'cancers' || value.type === 'drugs'">
                      <md-select class="Input--Min-WIDTH" placeholder="Input Type" [(ngModel)]="value.type2" (change)="formChanged(field)" [disabled]="!field.newAdded">
                        <md-option value="multi_options"> Multi-Select</md-option>
                        <md-option value="options"> Select</md-option>
                        <md-option value="text"> Text</md-option>
                      </md-select>
                    </ng-container>
                    <div *ngIf="value.type === 'multi_options' || value.type === 'options' || value.type === 'button_select'"
                         class="Width--100 TD--Padding-Left">
                      <ng-container *ngFor="let v of value.values; let y = index">
                        <md-input-container [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true}">
                          <input mdInput maxlength="200" autocomplete="off" [disabled]="!v.newAdded"
                                 placeholder="Value {{y+1}}" (change)="formChanged(field)"
                                 [(ngModel)]="v.value">
                        </md-input-container>
                      </ng-container>
                      <button md-mini-fab color="primary" tooltip="Add Value"
                              (click)="addMultiValue(value); formChanged(field)">
                        <i class="fas fa-plus fa-lg"></i>
                      </button>
                    </div>
                    <button *ngIf="i == (field.possibleValues.length-1)"
                            md-mini-fab color="primary" tooltip="Add Sub Field"
                            (click)="addMultiType(field)" [disabled]="value.type == null || value.value == null">
                      <i class="fas fa-plus fa-lg"></i>
                    </button>
                  </div>
                </ng-container>
              </td>
              <td class="Width--10 Abstraction--Setup--TD">
                <button md-mini-fab color="warn" tooltip="Delete Field"
                        (click)="deleteField(field)">
                  <i class="fas fa-trash-alt fa-lg"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4" class="Abstraction--Setup--TD">
                  <textarea class="Width--80" maxlength="1000"
                            [(ngModel)]="field.helpText" (change)="formChanged(field)"></textarea>
              </td>
            </tr>
            <hr class="Width--100 Abstraction--Table-line">
          </ng-container>
        </div>
        <tr>
          <td class="Abstraction--Setup--TD" colspan="4">
            <md-input-container [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true}">
              <input mdInput maxlength="200" autocomplete="off" placeholder="New Field"
                     [(ngModel)]="newField">
            </md-input-container>

            <md-select class="Input--Abstraction" placeholder="Field Type" [(ngModel)]="newType">
              <md-option value="button_select"> Button-Select</md-option>
              <md-option value="checkbox"> Checkbox</md-option>
              <md-option value="cancers"> Cancers</md-option>
              <md-option value="date"> Date</md-option>
              <md-option value="drugs"> Drugs</md-option>
              <md-option value="multi_options"> Multi-Select</md-option>
              <md-option value="textarea"> Multiline-Text</md-option>
              <md-option value="multi_type"> Multi</md-option>
              <md-option value="multi_type_array"> Multi-Array</md-option>
              <md-option value="number"> Number</md-option>
              <md-option value="options"> Select</md-option>
              <md-option value="text"> Text</md-option>
            </md-select>

            <button md-mini-fab color="primary" tooltip="Add Field"
                    (click)="addField()" [disabled]="newType == null || newField == null">
              <i class="fas fa-plus fa-lg"></i>
            </button>
          </td>
        </tr>
      </div>
    </ng-container>

    <!-- Abstraction Form -->
    <ng-container *ngIf="!setupForm">
      <table class="Width--100 Table--box" *ngFor="let field of fields">
        <!--abstraction fields-->
        <tr *ngIf="activity === 'qc' && field.qcWrapper.abstraction != null && field.qcWrapper.review != null"
            [ngClass]="{'Abstraction-Border-Check': field.qcWrapper.check, 'Abstraction-Border-Warning': !field.qcWrapper.equals}">
          <app-abstraction-field [field]="field" [activityOfField]="activity" [activeFile]="currentFile" [availableFileNames]="fileNames"
                                 [availableDrugs]="drugNames" [availableCancers]="cancerNames" [participant]="participant"
                                 [readonly]="true" [type]="'abstraction'" [viewValue]="field.qcWrapper.abstraction"
                                 (emitFileFromField)="addFileName($event)" (dblclick)="applyAbstraction(field, 'abstraction')"></app-abstraction-field>
        </tr>
        <tr *ngIf="activity === 'qc' && field.qcWrapper.abstraction != null && field.qcWrapper.review != null"
            [ngClass]="{'Abstraction-Border-Check': field.qcWrapper.check, 'Abstraction-Border-Warning': !field.qcWrapper.equals}">
          <app-abstraction-field [field]="field" [activityOfField]="activity" [activeFile]="currentFile" [availableFileNames]="fileNames"
                                 [availableDrugs]="drugNames" [availableCancers]="cancerNames" [participant]="participant"
                                 [readonly]="true" [type]="'review'" [viewValue]="field.qcWrapper.review"
                                 (emitFileFromField)="addFileName($event)" (dblclick)="applyAbstraction(field, 'review')"></app-abstraction-field>
        </tr>

        <tr [ngClass]="{'Width--100': true}">
          <app-abstraction-field [field]="field" [activityOfField]="activity" [activeFile]="currentFile" [availableFileNames]="fileNames"
                                 [availableDrugs]="drugNames" [availableCancers]="cancerNames" [participant]="participant"
                                 [hideDoubleCheck]="activity === 'qc'" (emitFileFromField)="addFileName($event)"
                                 [readonly]="isActivityDone()"></app-abstraction-field>
          <ng-container>
            <hr>
          </ng-container>
        </tr>
        <tr>
          <td colspan="5">
            <div id="{{field.displayName}}_Help" [collapse]="!field.viewHelpText" class="card card-block card-header Width--100">
              <div class="well well-lg">
                <div class="Float--right">
                  <a href="#" (click)="field.viewHelpText = !field.viewHelpText; doNothing()" [attr.aria-expanded]="field.viewHelpText"
                     [attr.aria-controls]="field.displayName+'_Help'"><i class="fas fa-times fa-lg"></i></a>
                </div>
                <div class="Width--100">
                  {{field.helpText}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </ng-container>
  </fieldset>
</div>
