<h1 xmlns=""> Discard Sample </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>

<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<span [hidden]="!waiting" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>

<!--Information added by participant-->
<div *ngIf="errorMessage == null">
  <br/>
<a href="#" (click)="backToDiscardSamples()"><b> << back to 'Discard Sample List' </b></a>
<br/><br/>

<div class="Display--block">
  <div class="Float--left Width--60">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td>DDP</td>
        <td>{{sample.realm}}</td>
      </tr>
      <tr>
        <td>Participant ID</td>
        <td>{{sample.ddpParticipantId}}</td>
      </tr>
      <tr>
        <td>User Exited</td>
        <td>
          {{sample.user}}
        </td>
      </tr>
      <tr>
        <td>Date Exited</td>
        <td>
          <ng-container *ngIf="sample.exitDate !== 0">{{sample.exitDate | date:'medium'}}</ng-container>
        </td>
      </tr>
      <tr>
        <td>Kit Type</td>
        <td>{{sample.kitType}}</td>
      </tr>
      <tr>
        <td>Date Sent</td>
        <td>
          <ng-container *ngIf="sample.scanDate !== 0">{{sample.scanDate | date:'medium'}}</ng-container>
        </td>
      </tr>
      <tr>
        <td>Date Received</td>
        <td>
          <ng-container *ngIf="sample.receivedDate !== 0">{{sample.receivedDate | date:'medium'}}</ng-container>
        </td>
      </tr>
      <tr>
        <td>MF code</td>
        <td>{{sample.kitLabel}}</td>
      </tr>
      <tr>
        <td>Action</td>
        <td>{{sample.getAction()}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

  <div class="Width--100 Float--left">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td>Comment</td>
        <td>
          <textarea [ngClass]="{'Width--100': true, 'Color--Field--Patched': savingNote}" [disabled]="sample.userConfirm != null || sample.action === 'done'"
                    maxlength="1000" [(ngModel)]="sample.note" (change)="saveNote()" (input)="savingNote = true"></textarea>
        </td>
      </tr>
      <tr>
        <td>BSP Screenshot (png/jpg)</td>
        <td>
          <ng-container *ngIf="sample.pathBSPScreenshot != null">
            {{sample.pathBSPScreenshot}}

            <button md-mini-fab tooltip='View File' color="primary"
                    (click)="show(sample.pathBSPScreenshot, preview)">
              <i class="fas fa-eye fa-sm"></i>
            </button>
            <button md-mini-fab color="warn" tooltip='Delete File'
                    *ngIf="sample.userConfirm == null"
                    (click)="deleteFile('pathBSPScreenshot', confirmDelete)">
              <i class="fas fa-trash-alt fa-sm"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="sample.pathBSPScreenshot == null">
            <ng-container *ngIf="hasRole().allowedToDiscardSamples()">
              <app-filepicker [id]="'bspFile'" [fileFormat]="'image'" (fileSelected)="fileBSPSelected($event)"></app-filepicker>
            </ng-container>
            <ng-container *ngIf="hasRole().allowedToExitParticipant()">
              No BSP screenshot uploaded
            </ng-container>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td>Sample Image (png/jpg)</td>
        <td>
          <ng-container *ngIf="sample.pathSampleImage != null">
            {{sample.pathSampleImage}}
            <button md-mini-fab tooltip='View File' color="primary"
                    (click)="show(sample.pathSampleImage, preview)">
              <i class="fas fa-eye fa-sm"></i>
            </button>
            <button md-mini-fab color="warn" tooltip='Delete File'
                    *ngIf="sample.userConfirm == null"
                    (click)="deleteFile('pathSampleImage', confirmDelete)">
              <i class="fas fa-trash-alt fa-sm"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="sample.pathSampleImage == null">
            <ng-container *ngIf="hasRole().allowedToDiscardSamples()">
              <app-filepicker [id]="'sampleFile'" [fileFormat]="'image'" (fileSelected)="fileImageSelected($event)"></app-filepicker>
            </ng-container>
            <ng-container *ngIf="hasRole().allowedToExitParticipant()">
              No image of sample tube uploaded
            </ng-container>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td>Get another person to confirm</td>
        <td>
          <ng-container *ngIf="sample.userConfirm != null">
            {{sample.userConfirm}}
          </ng-container>
          <ng-container *ngIf="sample.userConfirm == null && !hasRole().allowedToExitParticipant()">
            <button md-raised-button color="primary"
                    (click)="confirm()" [disabled]="sample.pathBSPScreenshot == null || sample.pathSampleImage == null">Confirm</button>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td>Date destroyed</td>
        <td>
          <ng-container *ngIf="hasRole().allowedToDiscardSamples()">
            <app-field-datepicker [dateString]="sample.discardDate" (dateChanged)="discardDate($event)" [disabled]="sample.userConfirm == null || sample.action === 'done'"></app-field-datepicker>
          </ng-container>
          <ng-container *ngIf="hasRole().allowedToExitParticipant()">
            {{sample.discardDate}}
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>

  <div class="Width--100 Float--left">
    <div>
      <button md-raised-button color="primary"
              *ngIf="hasRole().allowedToDiscardSamples() && sample.isSetToDiscard()"
              (click)="discard()" [disabled]="sample.discardDate == null">Sample Was Destroyed</button>
      <br/>
      <br/>
    </div>
  </div>
</div>

<ng-template #preview>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Uploaded Image</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="imageToShow">
  </div>
</ng-template>

<ng-template #confirmDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">You really want to delete the file</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button class="btn Button--Background--Color"
            (click)="modalRef.hide()">Cancel</button>
    <button class="btn Button--Background--Color"
            (click)="deleteFileNow()">Delete</button>
  </div>
</ng-template>
