<h1> Field Settings </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>

<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<div *ngIf="errorMessage == null && allowedToSeeInformation">

  <span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>
  <br/>

  <div *ngIf="realm != null">
    <div class="Float--left Width--25">
      <div *ngIf="possibleTypes != null && possibleTypes.length > 0">
        <div *ngFor="let type of possibleTypes">
          <md-checkbox color="primary" [checked]="type.selected" (change)="type.selected = $event.checked;
          typeChecked(type)" disableRipple>
            {{type.name}}
          </md-checkbox>
        </div>
        <br/>
      </div>
    </div>

    <!--Show the settings of the selected type-->
    <div *ngIf="selectedType != null && settingsOfSelectedType != null">
      <table class="table table-striped" [mfData]="settingsOfSelectedType" #mf="mfDataTable"
             [mfRowsOnPage]="settingsOfSelectedType.length">
        <thead>
        <tr>
          <th colspan="5">
            <h4>{{selectedType.name}} Settings</h4>
          </th>
        </tr>
        <tr>
          <th>
            Variable Name
          </th>
          <th>
            Display Name
          </th>
          <th>
            Display Type
          </th>
          <th>
            Possible Values
          </th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let setting of mf.data; let i = index">
          <tr>
            <td>
              <ng-container *ngIf="setting.addedNew">
                <md-input-container class="Input">
                  <input mdInput class="Width--100" maxlength="100" [(ngModel)]="setting.columnName"
                         (change)="checkColName(i); onChange(i)" autocomplete="off">
                  <md-hint class="ErrorMessageForm" *ngIf="setting.notUniqueError">Name not unique</md-hint>
                  <md-hint class="ErrorMessageForm" *ngIf="setting.spaceError">No space allowed</md-hint>
                </md-input-container>
              </ng-container>
              <ng-container *ngIf="!setting.addedNew">
                {{setting.columnName}}
              </ng-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput type="text" [(ngModel)]="setting.columnDisplay" (change)="onChange(i)"
                       maxlength="45" autocomplete="off">
              </md-input-container>
            </td>
            <td>
              <md-select class="Input--Min-WIDTH" maxlength="100" placeholder="Display Type" floatPlaceholder="never"
                         [(ngModel)]="setting.displayType" (change)="onDisplayTypeChange(i)">
                <md-option value="CHECKBOX">Checkbox</md-option>
                <md-option value="DATE">Date</md-option>
                <md-option value="NUMBER">Number</md-option>
                <md-option value="OPTIONS">Select</md-option>
                <md-option value="TEXT">Text</md-option>
                <md-option value="TEXTAREA">Textarea</md-option>
                <md-hint class="ErrorMessageForm" *ngIf="setting.missingDispError">Display type not selected</md-hint>
              </md-select>
            </td>
            <td>
              <ng-container *ngIf="setting.displayType === 'MULTI_OPTIONS' || setting.displayType === 'OPTIONS'">
                <ng-container *ngFor="let value of setting.possibleValues; let j=index">
                  <md-input-container class="Input">
                    <input mdInput maxlength="100" (change)="onChange(i)" [(ngModel)]="value.value"
                           placeholder="Value {{j+1}}" autocomplete="off">
                    <md-hint class="ErrorMessageForm" *ngIf="setting.missingOptionsError">Missing possible
                      values
                    </md-hint>
                  </md-input-container>
                </ng-container>
                <button md-mini-fab color="primary" tooltip="Add Value" (click)="addValue(setting)">
                  <i class="fas fa-plus fa-lg"></i>
                </button>
              </ng-container>
            </td>
            <td>
              <button md-mini-fab color="warn"
                      *ngIf="i < settingsOfSelectedType.length - 1"
                      (click)="deleteFieldSetting(i)">
                <i class="fas fa-trash-alt fa-lg"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="10">
            <mfBootstrapPaginator [rowsOnPageSet]="[10, 15, 20]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      <br/>
      <button md-raised-button (click)="saveFieldSettings()" color="primary"
              [disabled]="saving">Save Settings
      </button>
    </div>
  </div>
</div>
