<md-input-container [ngClass]="{'Width--100': true, 'Input--Bigger-WIDTH': largeInputField, 'Input--Min-WIDTH': !largeInputField, 'Color--Field--Patched': isPatchedCurrently(fieldName)}">
  <input *ngIf="!multiLineInput" autocomplete="off"
         mdInput maxlength="200"
         placeholder="{{placeholder}}"
         [(ngModel)]="lookupValue" [disabled]="disabled"
         (ngModelChange)="checkForLookup()" (change)="changeValue()"
         (blur)="currentField(null)" (focus)="currentField(fieldName)">
  <textarea *ngIf="multiLineInput"
            mdInput maxlength="200"
            placeholder="{{placeholder}}"
            [(ngModel)]="lookupValue" [disabled]="disabled"
            (ngModelChange)="checkForLookup()" (change)="changeValue()"
            (blur)="currentField(null)" (focus)="currentField(fieldName)"></textarea>
</md-input-container>
<div>
  <ul class="Lookup--Dropdown"
      *ngIf="lookups != null && lookups.length > 0" [style.display]="getStyleDisplay()">
    <li *ngFor="let object of lookups" (click)="setLookup(object)">{{object.field1.value}} <span
      *ngIf="object.field3 != null"
      style="color:gray;">{{object.field3.value}} </span>
      <span *ngIf="object.field4 != null" style="color:lightgrey;">{{object.field4.value}} </span><span
        *ngIf="object.field5 != null" style="color:lightgrey;">{{object.field5.value}}</span></li>
  </ul>
</div>
