<h1> NDI Upload </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>


<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
      <br/>
      <br/>
    </div>
  </span>
<!--allowed to see info -->
<div>
  <br/>
  <br/>
  <div class="Width--80">
    <app-filepicker [id]="'ndiUploadFile'" [fileFormat]="'txt'" (fileSelected)="fileSelected($event)"></app-filepicker>
    <button type="button" md-raised-button color="primary"
            (click)="upload()"
            [disabled]="file == null || loading">Upload File
    </button>
  </div>

  <div class="Float--left Width--80">
    <b>
      <br/>
      <br/>
      <br/>
      Upload instructions:
      <ul>
        <li>Tab delimited ".txt" file</li>
        <li>Following columns are required
          <table class="table table-bordered">
            <tr>
              <td>participantId</td>
              <td>First</td>
              <td>Middle</td>
              <td>Last</td>
              <td>Year</td>
              <td>Month</td>
              <td>Day</td>
            </tr>
          </table>
        </li>
        <li>Year = year of DOB in yyyy format
        </li>
        <li>Month = month of DOB</li>
        <li>Day = day of DOB</li>
        <li>
          First = First Name
        </li>
        <li>
          Last = Last Name
        </li>
        <li>
          Middle = just the initial, don't include anything if it doesn't exist.
        </li>
        <li>
          Middle name column is the only one that could be left empty.
        </li>
        </ul>
    </b>
  </div>


</div>
