<div>
  <table class="table table-striped Width--100">
    <thead>
    <tr>
      <th>
        Request
      </th>
      <th>
        Date of PX
      </th>
      <th>
        Type of PX
      </th>
      <th>
        Location of PX
      </th>
      <th>
        Histology
      </th>
      <th>
        Accession Number
      </th>
      <th>
        Facility
      </th>
      <th>
        Phone
      </th>
      <th>
        Fax
      </th>
      <th>
        Destruction Policy (years)
      </th>
      <ng-container *ngIf="settings['oD'] != null">
        <ng-container *ngFor="let col of settings['oD']">
          <th>
            {{col.columnDisplay}}
          </th>
        </ng-container>
      </ng-container>
      <th><!--row for note button-->
      </th>
      <th>
        Request
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let oncHis of oncHistory | oncHistoryDetailSort:triggerSort; let i = index">

      <tr [id]="oncHis.oncHistoryDetailId" [ngClass]="{'Green-background': oncHis.oncHistoryDetailId === oncHistoryId}">
        <td>
          <md-checkbox *ngIf="oncHis.request === 'request' || oncHis.request === 'sent'" color="primary" disableRipple
                       [(ngModel)]="oncHis.selected" (change)="selected(i)" [disabled]="!editable || participantExited">
          </md-checkbox>
          <button

            md-mini-fab [color]="getNoteButtonColorStyle(oncHis.tissueReceived)"
            (click)="openTissuePage(oncHis)" tooltip="Tissue information">
            <i class="fas fa-vial fa-lg"></i>
          </button>
        </td>
        <td class="DatePicker--Table--Col">
          <app-field-datepicker [dateString]="oncHis.datePX" [showTodayButton]="false" [allowUnknownDay]="true"
                                [disabled]="!editable || participantExited"
                                (dateChanged)="valueChanged($event, 'datePX', i)"
                                [colorDuringPatch]="isPatchedCurrently('datePX', i)"></app-field-datepicker>
        </td>
        <td>
          <app-lookup [lookupValue]="oncHis.typePX" [lookupType]="'tType'" [multiLineInput]="true"
                      (lookupResponse)="setTypePx($event, i)" [disabled]="!editable || participantExited" [fieldName]="'typePX'"
                      [colorDuringPatch]="isPatchedCurrently('typePX', i)"></app-lookup>
        </td>
        <td>
          <md-input-container [ngClass]="{'Input': true, 'Color--Field--Patched': isPatchedCurrently('locationPX', i)}">
            <input mdInput class="Width--100 Input--Min-WIDTH" maxlength="200" [disabled]="!editable || participantExited"
                   [(ngModel)]="oncHis.locationPX" (change)="valueChanged($event, 'locationPX', i)"
                   (blur)="currentField(null, null)" (focus)="currentField('locationPX', i)">
          </md-input-container>
        </td>
        <td>
          <app-lookup [lookupValue]="oncHis.histology" [lookupType]="'tHistology'" [multiLineInput]="true"
                      (lookupResponse)="setHistology($event, i)" [disabled]="!editable || participantExited" [fieldName]="'histology'"
                      [colorDuringPatch]="isPatchedCurrently('histology', i)"></app-lookup>
        </td>
        <td>
          <md-input-container
            [ngClass]="{'Input': true, 'Color--Field--Patched': isPatchedCurrently('accessionNumber', i)}">
            <input mdInput class="Width--100 Input--Min-WIDTH" maxlength="200" [disabled]="!editable || participantExited"
                   [(ngModel)]="oncHis.accessionNumber" (change)="valueChanged($event, 'accessionNumber', i)"
                   (blur)="currentField(null, null)" (focus)="currentField('accessionNumber', i)">
          </md-input-container>
        </td>
        <td>
          <app-lookup [lookupValue]="oncHis.facility" [lookupType]="'tFacility'" [fieldName]="'facility'"
                      (lookupResponse)="setFacility($event, i)" [disabled]="!editable || participantExited"
                      [colorDuringPatch]="isPatchedCurrently('facility', i)"></app-lookup>
        </td>
        <td>
          <md-input-container
            [ngClass]="{'Input': true, 'Input--Phone-Number': true, 'Color--Field--Patched': isPatchedCurrently('fPhone', i)}">
            <input mdInput maxlength="14" [disabled]="!editable || participantExited"
                   [(ngModel)]="oncHis.fPhone" (change)="valueChanged($event, 'fPhone', i)"
                   [errorStateMatcher]="getUtil().phoneNumberValidator"
                   (blur)="currentField(null, null)" (focus)="currentField('fPhone', i)">
            <md-error>xxx-xxx-xxxx</md-error>
          </md-input-container>
        </td>
        <td>
          <md-input-container
            [ngClass]="{'Input': true, 'Input--Phone-Number': true, 'Color--Field--Patched': isPatchedCurrently('fFax', i)}">
            <input mdInput maxlength="14" [disabled]="!editable || participantExited"
                   [(ngModel)]="oncHis.fFax" (change)="valueChanged($event, 'fFax', i)"
                   [errorStateMatcher]="getUtil().phoneNumberValidator"
                   (blur)="currentField(null, null)" (focus)="currentField('fFax', i)">
            <md-error>xxx-xxx-xxxx</md-error>
          </md-input-container>
        </td>
        <td>
          <md-input-container
            [ngClass]="{'Input': true, 'Color--Field--Patched': isPatchedCurrently('destructionPolicy', i)}">
            <input mdInput min="0" maxlength="14" [disabled]="!editable || participantExited"
                   [(ngModel)]="oncHis.destructionPolicy" (change)="valueChanged($event, 'destructionPolicy', i)"
                   (blur)="currentField(null, null)" (focus)="currentField('destructionPolicy', i)">
          </md-input-container>
          <md-hint class="ErrorMessageForm" *ngIf="isError(oncHis.destructionPolicy)">Only numbers or "indefinitely"
          </md-hint>
        </td>
        <ng-container *ngFor="let col of settings['oD']">
          <td>
            <md-input-container *ngIf="col.displayType === 'TEXT' || col.displayType === ''|| col.displayType == null"
              [ngClass]="{'Input--Phone-Number': true, 'Input': true, 'Color--Field--Patched': isPatchedCurrently(col.columnName, i)}">
              <input mdInput maxlength="200" [disabled]="!editable || participantExited"
                     value="{{getAdditionalValue(i, col.columnName)}}"
                     (change)="onAdditionalColChange($event, i, col.columnName)"
                     (blur)="currentField(null, null)" (focus)="currentField(col.columnName, i)">
            </md-input-container>
            <md-input-container *ngIf="col.displayType === 'NUMBER'"
              [ngClass]="{'Input': true, 'Color--Field--Patched': isPatchedCurrently(col.columnName, i)}">
              <input mdInput maxlength="200" type="number" [disabled]="!editable || participantExited"
                     value="{{getAdditionalValue(i, col.columnName)}}"
                     (change)="onAdditionalColChange($event, i, col.columnName)"
                     (blur)="currentField(null, null)" (focus)="currentField(col.columnName, i)">
            </md-input-container>
            <textarea maxlength="1000" *ngIf="col.displayType === 'TEXTAREA'"
                      [ngClass]="{'Input--Phone-Number': true, 'Width--100': true, 'Color--Field--Patched': isPatchedCurrently(col.columnName, i)}"
                      (blur)="currentField(null, null)" (focus)="currentField(col.columnName, i)" [disabled]="!editable || participantExited"
                      value="{{getAdditionalValue(i, col.columnName)}}" (change)="onAdditionalColChange($event, i, col.columnName)"></textarea>
            <md-select *ngIf="col.displayType === 'OPTIONS'"
                       [ngModel]="getAdditionalValue(i, col.columnName)"
                       (change)="onAdditionalColChange($event, i, col.columnName)" [disabled]="!editable || participantExited"
                       [ngClass]="{'Color--Field--Patched': isPatchedCurrently(col.columnName, i)}">
              <md-option *ngFor="let op of col.possibleValues" [value]="op.value">{{op.value}}</md-option>
            </md-select>
            <md-checkbox *ngIf="col.displayType === 'CHECKBOX'" color="primary" disableRipple
                         [ngModel]="getAdditionalValue(i, col.columnName)"
                         (change)="onAdditionalColChange($event, i, col.columnName)" [disabled]="!editable || participantExited">
            </md-checkbox>
            <app-field-datepicker *ngIf="col.displayType === 'DATE'" [colorDuringPatch]="isPatchedCurrently(col.columnName, i)" [disabled]="participantExited"
                                  [dateString]="getAdditionalValue(i, col.columnName)"
                                  (dateChanged)="onAdditionalColChange($event, i, col.columnName)"></app-field-datepicker>
          </td>
        </ng-container>
        <td>
          <button md-mini-fab [color]="getNoteButtonColorStyle(oncHis.oncHisNotes)" placement="left"
                  tooltip='{{oncHis.oncHisNotes}}' [disabled]="participantExited"
                  (click)="openNoteModal(i); oncHisNoteModal.show()">
            <i class="fas fa-comment-alt fa-lg" data-fa-transform="down-2"></i>
          </button>
        </td>
        <td *ngIf="oncHis.request !== 'unableToObtain'">
          <md-select [(ngModel)]="oncHis.request" (change)="onRequestChange(i)" [disabled]="!editable || participantExited"
                     [ngClass]="{'Color--Field--Patched': isPatchedCurrently('request', i)}">
            <md-option value="review">Needs Review</md-option>
            <md-option value="no">Don't Request</md-option>
            <md-option value="hold">On Hold</md-option>
            <md-option value="request">Request</md-option>
            <md-option value="sent" disabled>Sent</md-option>
            <md-option value="received" disabled>Received</md-option>
            <md-option value="returned" disabled>Returned</md-option>
            <md-option value="unableToObtain" disabled>Unable To Obtain</md-option>
          </md-select>
        </td>
        <td *ngIf="oncHis.request === 'unableToObtain'">
          Unable To Obtain
        </td>
        <td>
          <button md-mini-fab color="warn" [disabled]="!editable || participantExited"
                  *ngIf="i < oncHistory.length-1"
                  (click)="deleteOncHistory(i)">
            <i class="fas fa-trash-alt fa-lg"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr>
      <td [attr.colspan]="10 + (settings['oD'] == undefined? 0: settings['oD'].length)">
        <ng-container *ngIf="getRole().getUserSetting().getDateFormat() === 'yyyy-MM-dd'">
          * unknown dates are allowed. Just enter date as YYYY-MM or YYYY
        </ng-container>
        <ng-container *ngIf="getRole().getUserSetting().getDateFormat() === 'MM/dd/yyyy'">
          * unknown dates are allowed. Just enter date as MM/YYYY or YYYY
        </ng-container>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<app-modal>
  <div class="app-modal-header">
    Note for tissue:
  </div>
  <div class="app-modal-body">
    <textarea class="Width--100" maxlength="1000"
              *ngIf="indexForNote != null" [disabled]="!editable || participantExited"
              [(ngModel)]="note" (change)="saveNote()"></textarea>
  </div>
  <div class="app-modal-footer">
    <ng-container *ngIf="editable">
      <button type="button" class="btn btn-primary" (click)="oncHisNoteModal.hide()" [disabled]="participantExited">Save & Close</button>
    </ng-container>
    <ng-container *ngIf="!editable">
      <button type="button" class="btn btn-primary"
              (click)="oncHisNoteModal.hide()">Close
      </button>
    </ng-container>
  </div>
</app-modal>
