<ng-container *ngIf="showMedicalRecord">
  <app-medical-record [participant]="participant" [medicalRecord]="medicalRecord" [settings]="settings"
                      (leaveMedicalRecord)="showMedicalRecord=false"
                      (leaveParticipant)="leavePage()"></app-medical-record>
</ng-container>

<ng-container *ngIf="showTissue">
  <app-tissue-page [participant]="participant" [oncHistoryDetail]="oncHistoryDetail"
                   [settings]="settings"
                   (leaveTissue)="showTissue=false" (leaveParticipant)="leavePage()"></app-tissue-page>
</ng-container>

<ng-container *ngIf="!showMedicalRecord && !showTissue">
  <h1> Participant Page </h1>

  <div *ngIf="errorMessage != null">
    <h3 class="Color--warn">{{errorMessage}}</h3>
    <br/>
  </div>

  <div *ngIf="additionalMessage != null">
    <h3 class="Color--warn Line--Break">{{additionalMessage}}</h3>
    <br/>
  </div>

  <div *ngIf="errorMessage == null" class="Width--100">

    <br/>
    <a href="#" (click)="leavePage()"><b> << back to 'List' </b></a>
    <br/><br/><br/>

    <span [hidden]="!loadingParticipantPage" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
    </div>
  </span>

    <div *ngIf="!loadingParticipantPage" class="Width--100">

      <div *ngIf="participantExited">
        <h3 class="Color--warn Line--Break">Participant was withdrawn from the study!</h3>
        <br/>
      </div>
      <div *ngIf="participantNotConsented">
        <h3 class="Color--warn Line--Break">Lost to Follow-Up</h3>
        <br/>
      </div>

      <div class="Float--left" *ngIf="participant.data != null">
        <table class="table table-condensed">
          <tbody>
          <tr *ngIf="participant.data.status != null">
            <td>Status</td>
            <td>{{participant.data.status | buttonSelect}}</td>
          </tr>
          <tr *ngIf="participant.data.profile['createdAt'] != null">
            <td>Registration Date</td>
            <td>{{participant.data.profile['createdAt']| date:'medium'}}</td>
          </tr>
          <tr *ngIf="participant.data.profile['hruid'] != null">
            <td>Short ID</td>
            <td>{{participant.data.profile['hruid']}}</td>
          </tr>
          <tr
            *ngIf="participant.data.profile['legacyShortId'] != null && participant.data.profile['legacyShortId'] !== ''">
            <td>Legacy Short ID</td>
            <td>{{participant.data.profile['legacyShortId']}}</td>
          </tr>
          <tr *ngIf="participant.data.profile['guid'] != null">
            <td>Internal Participant ID</td>
            <td>{{participant.data.profile['guid']}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{participant.data.profile['firstName']}} {{participant.data.profile['lastName']}}</td>
          </tr>
          <tr *ngIf="participant.data.profile['email'] != null">
            <td>E-Mail</td>
            <td>{{participant.data.profile['email']}}</td>
          </tr>
          <tr>
            <td>DOB</td>
            <td>{{getUtil().getDateFormatted(participant.data.dsm['dateOfBirth'])}}</td>
          </tr>
          <tr>
            <td>Date of Diagnosis</td>
            <td>
              {{participant.data.dsm['diagnosisMonth']}}/{{participant.data.dsm['diagnosisYear']}}
          </tr>
          <tr *ngIf="participant.medicalRecords != null && participant.medicalRecords.length > 0">
            <td>Consent Tissue</td>
            <td>{{getUtil().getYesNo(getTissueConsent())}}</td>
          </tr>
          <tr *ngIf="participant.medicalRecords != null && participant.medicalRecords.length > 0">
            <td>Consent Blood</td>
            <td>{{getUtil().getYesNo(getBloodConsent())}}</td>
          </tr>
          <tr *ngIf="participant.oncHistoryDetails != null && participant.oncHistoryDetails.length > 0">
            <td>Gender</td>
            <td>{{gender | titlecase}}</td>
          </tr>
          <tr
            *ngIf="participant.data.profile['legacyAltPid'] != null && participant.data.profile['legacyAltPid'] !== ''">
            <td>Legacy Participant ID</td>
            <td>{{participant.data.profile['legacyAltPid']}}</td>
          </tr>
          </tbody>
        </table>
        <h5 class="Line--Break">{{participant.getSampleStatus()}}</h5>
      </div>
      <div class="Float--left TD--Padding">
        <div *ngIf="participant['receivedMedicalRecord'] > 0 && parentList === 'participantList'">
          <div class="Float--left TD--Padding">
            <div class="Float--left Width--100">
              <b>First Abstraction</b> <b *ngIf="participant.abstraction.status === 'not_started'"> not started yet</b>
            </div>
            <div class="Float--left" *ngIf="participant.abstraction.status !== 'in_progress' && participant.abstraction.status !== 'done' && participant.abstraction.status !== 'clear'
                  && hasRole().isAbstracter()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.abstraction)">Start First MR Abstraction
              </button>
            </div>
            <div class="Float--left" *ngIf="participant.abstraction.status === 'clear' && hasRole().isAbstracter()
                  && ((participant.review != null && participant.review.user !== hasRole().getUserName()) || participant.review == null || participant.review.status === 'clear')">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.abstraction)">Continue First MR Abstraction
              </button>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.abstraction.status !== 'not_started' && participant.abstraction.status !== 'clear' && participant.abstraction.lastChanged == 0">
              <b>{{participant.abstraction.user}}</b>
              <b>started: {{participant.abstraction.startDate | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.abstraction.status !== 'not_started' && participant.abstraction.status !== 'clear' && participant.abstraction.lastChanged != 0">
              <b>{{participant.abstraction.user}}</b>
              <b>continued: {{participant.abstraction.lastChanged | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.abstraction.status === 'clear'">
              <b>{{participant.abstraction.user}}</b>
              <b>broke lock on: {{participant.abstraction.lastChanged | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.abstraction.status === 'in_progress' && hasRole().isAbstractionAdmin()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="breakLockParticipant(participant.abstraction)">Un-lock First MR Abstraction
              </button>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.abstraction.status === 'done'">
              <b>Finished: {{participant.abstraction.lastChanged | date:'medium'}}</b>
            </div>
          </div>
        </div>

        <div
          *ngIf="participant.abstraction != null && (participant.abstraction.status === 'in_progress' || participant.abstraction.status === 'done' || participant.abstraction.status === 'clear')
             && parentList === 'participantList'">
          <div class="Float--left TD--Padding">
            <div class="Float--left Width--100">
              <b>Second Abstraction</b> <b *ngIf="participant.review.status === 'not_started'"> not started yet</b>
            </div>
            <div class="Float--left" *ngIf="participant.review.status !== 'in_progress' && participant.review.status !== 'done' && participant.review.status !== 'clear'
                   && participant.abstraction.user !== hasRole().getUserName() && hasRole().isAbstracter()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.review)">Start Second MR Abstraction
              </button>
            </div>
            <div class="Float--left" *ngIf="participant.review.status === 'clear' && hasRole().isAbstracter()
                   && (participant.abstraction.user !== hasRole().getUserName() || participant.abstraction.status === 'clear')">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.review)">Continue Second MR Abstraction
              </button>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.review.status !== 'not_started' && participant.review.status !== 'clear' && participant.review.lastChanged == 0">
              <b>{{participant.review.user}}</b>
              <b>started: {{participant.review.startDate | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.review.status !== 'not_started' && participant.review.status !== 'clear' && participant.review.lastChanged != 0">
              <b>{{participant.review.user}}</b>
              <b>continued: {{participant.review.lastChanged | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.review.status === 'clear'">
              <b>{{participant.review.user}}</b>
              <b>broke lock on: {{participant.review.lastChanged | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.review.status === 'in_progress' && hasRole().isAbstractionAdmin()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="breakLockParticipant(participant.review)">Un-lock Second MR Abstraction
              </button>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.review.status === 'done'">
              <b>Finished: {{participant.review.lastChanged | date:'medium'}}</b>
            </div>
          </div>
        </div>

        <!--tie breaker is only able to start when abstraction and review are done-->
        <div
          *ngIf="participant.abstraction != null && participant.abstraction.status === 'done' && participant.review != null && participant.review.status === 'done'
           && parentList === 'participantList'">
          <div class="Float--left TD--Padding">
            <div class="Float--left Width--100">
              <b>QC</b> <b *ngIf="participant.qc.status === 'not_started'"> not started yet</b>
            </div>
            <div class="Float--left" *ngIf="participant.qc.status !== 'in_progress' && participant.qc.status !== 'done'
                    && participant.abstraction.user !== hasRole().getUserName() && participant.review.user !== hasRole().getUserName()
                    && hasRole().isQC()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.qc)">Start QC
              </button>
            </div>
            <div class="Float--left" *ngIf="participant.qc.status === 'clear'
                  && hasRole().isAbstracter()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="lockParticipant(participant.qc)">Continue QC
              </button>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.qc.status !== 'not_started' && participant.qc.status !== 'clear'">
              <b>{{participant.qc.user}}</b>
              <b>started: {{participant.qc.startDate | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.qc.status === 'clear'">
              <b>{{participant.qc.user}}</b>
              <b>broke lock on: {{participant.qc.lastChanged | date:'medium'}}</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.qc.status === 'in_progress' && hasRole().isAbstractionAdmin()">
              <button md-raised-button type="button" color="primary" [disabled]="participantExited"
                      (click)="breakLockParticipant(participant.qc)">Un-lock QC
              </button>
            </div>
            <div class="Float--left Width--100" *ngIf="participant.qc.status === 'done'">
              <b>Finished: {{participant.qc.lastChanged | date:'medium'}}</b>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="Float--left Width--100" *ngIf="participant.participant != null">
        <table class="Width--100">
          <tr>
            <td class="Width--20">Participant Notes</td>
            <td class="Width--80">
            <textarea maxlength="1000" [disabled]="participantExited"
                      [ngClass]="{'Width--100': true, 'Color--Field--Patched': isPatchedCurrently('ptNotes')}"
                      (blur)="currentField(null)" (focus)="currentField('ptNotes')"
                      [(ngModel)]="participant.participant.ptNotes"
                      (change)="valueChanged($event, 'ptNotes', 'r')"></textarea>
            </td>
          </tr>
          <ng-container *ngIf="showParticipantRecord">
            <tr>
              <td>Paper C/R sent</td>
              <td>
                <div class="Float--left">
                  <app-field-datepicker [dateString]="participant.participant.paperCRSent"
                                        [disabled]="participantExited"
                                        [colorDuringPatch]="isPatchedCurrently('paperCRSent')"
                                        (dateChanged)="valueChanged($event, 'paperCRSent', 'r')"></app-field-datepicker>
                </div>
                <div *ngIf="participant.participant.paperCRSent != null" class="Float--left Router--Outlet">Paper C/R
                  received
                  <app-field-datepicker [dateString]="participant.participant.paperCRReceived"
                                        [disabled]="participantExited"
                                        [colorDuringPatch]="isPatchedCurrently('paperCRReceived')"
                                        (dateChanged)="valueChanged($event, 'paperCRReceived', 'r')"></app-field-datepicker>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td>Onc History Created</td>
            <td>
              <div class="Float--left">
                <app-field-datepicker [dateString]="participant.participant.createdOncHistory"
                                      [disabled]="participantExited"
                                      [colorDuringPatch]="isPatchedCurrently('createdOncHistory')"
                                      (dateChanged)="valueChanged($event, 'createdOncHistory', 'o')"></app-field-datepicker>
              </div>
              <div *ngIf="participant.participant.createdOncHistory != null" class="Float--left Router--Outlet">Onc
                History Reviewed
                <app-field-datepicker [dateString]="participant.participant.reviewedOncHistory"
                                      [disabled]="participantExited"
                                      [colorDuringPatch]="isPatchedCurrently('reviewedOncHistory')"
                                      (dateChanged)="valueChanged($event, 'reviewedOncHistory', 'o')"></app-field-datepicker>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Incomplete/Minimal Medical Records
            </td>
            <td>
              <md-checkbox color="primary" [disabled]="participantExited"
                           [ngClass]="{'Width--100': true, 'Color--Field--Patched': isPatchedCurrently('minimalMR')}"
                           [(ngModel)]="participant.participant.minimalMR"
                           (change)="valueChanged($event, 'minimalMR', 'r')"
                           disableRipple>
              </md-checkbox>
            </td>
          </tr>
          <ng-container *ngIf="settings['r'] != null">
            <tr *ngFor="let fieldSetting of settings['r']">
              <td>{{fieldSetting.columnDisplay}}</td>
              <td>
                <br/>
                <md-input-container
                  *ngIf="fieldSetting.displayType === 'TEXT' || fieldSetting.displayType === ''|| fieldSetting.displayType == null"
                  [ngClass]="{'Width--100': true, 'Input--Min-WIDTH': true, 'Color--Field--Patched': isPatchedCurrently(col.columnName)}">
                  <input mdInput maxlength="200" [disabled]="participantExited"
                         value="{{getAdditionalValue(fieldSetting.columnName)}}"
                         placeholder="{{fieldSetting.columnDisplay}}"
                         (change)="onAdditionalValueChange($event, fieldSetting.columnName)"
                         (blur)="currentField(null)" (focus)="currentField(fieldSetting.columnName)">
                </md-input-container>
                <md-input-container *ngIf="fieldSetting.displayType === 'NUMBER'"
                                    [ngClass]="{'Input': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}">
                  <input mdInput maxlength="200" type="number" [disabled]="participantExited"
                         value="{{getAdditionalValue(fieldSetting.columnName)}}"
                         (change)="onAdditionalValueChange($event, fieldSetting.columnName)"
                         (blur)="currentField(null)" (focus)="currentField(fieldSetting.columnName)">
                </md-input-container>
                <textarea maxlength="1000" *ngIf="fieldSetting.displayType === 'TEXTAREA'"
                          [ngClass]="{'Width--100': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}"
                          (blur)="currentField(null)" (focus)="currentField(fieldSetting.columnName)"
                          [disabled]="participantExited"
                          value="{{getAdditionalValue(fieldSetting.columnName)}}"
                          (change)="onAdditionalValueChange($event, fieldSetting.columnName)"></textarea>
                <md-select *ngIf="fieldSetting.displayType === 'OPTIONS'" placeholder="{{fieldSetting.columnDisplay}}"
                           [ngModel]="getAdditionalValue(fieldSetting.columnName)"
                           (change)="onAdditionalValueChange($event, fieldSetting.columnName)"
                           [disabled]="participantExited"
                           [ngClass]="{'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}">
                  <md-option *ngFor="let op of fieldSetting.possibleValues" [value]="op.value">{{op.value}}</md-option>
                </md-select>
                <md-checkbox *ngIf="fieldSetting.displayType === 'CHECKBOX'" color="primary" disableRipple
                             [ngModel]="getAdditionalValue(fieldSetting.columnName)"
                             (change)="onAdditionalValueChange($event, fieldSetting.columnName)"
                             [disabled]="participantExited">
                </md-checkbox>
                <app-field-datepicker *ngIf="fieldSetting.displayType === 'DATE'"
                                      [colorDuringPatch]="isPatchedCurrently(fieldSetting.columnName)"
                                      [disabled]="participantExited"
                                      [dateString]="getAdditionalValue(fieldSetting.columnName)"
                                      (dateChanged)="onAdditionalValueChange($event, fieldSetting.columnName)"></app-field-datepicker>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>

      <div class="Float--left Width--100">
        <ng-container *ngIf="participant.participant == null">
          <div class="Float--left Width--100">
            <div class="Float--left Width--100"
                 *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
              <b class="Group--Title">Jump to:</b>
            </div>
            <div class="Float--left Width--100"
                 *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
              <ng-container *ngFor="let activity of participant.data.activities; let i = index">
                <div class="Float--left" *ngIf="getActivityDefinition(activity.activityCode) as activityDef1">
                  <a class="Abstraction--Jump--Group" pageScroll href="{{getGroupHref(activity.activityCode)}}"
                     *ngIf="activityDef1 != null">{{activityDef1.activityName}}</a>
                </div>
                <ng-container *ngIf="i < participant.data.activities.length - 1">
                  <div class="Float--left Vertical--line"></div>
                </ng-container>
              </ng-container>
            </div>

            <!--assumption for now is that activity will be different per ddp > dynamic-->
            <div class="Float--left Width--100"
                 *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
              <hr style="border-color: black">
              <ng-container *ngFor="let activity of participant.data.activities">
                <ng-container *ngIf="getActivityDefinition(activity.activityCode) as activityDef2">
                  <app-activity-data *ngIf="activityDef2 != null" [activityDefinition]="activityDef2"
                                     [activity]="activity"></app-activity-data>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="participant.participant != null">
          <!--tab order is not working when tabs have ngIf, will just put them at the end of static tabs. therefore ngIf=true is added to static tabs-->
          <tabset>
            <tab
              *ngIf="participant != null && participant.data != null && participant.data.activities != null && participant.data.activities.length > 0
                && activityDefinitions != null"
              heading="Survey Data" [active]="tabActive('Survey Data')" (select)="onSelect($event, 'Survey Data')">
              <br/><br/>
              <div class="Float--left Width--100">
                <div class="Float--left Width--100"
                     *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
                  <b class="Group--Title">Jump to:</b>
                </div>
                <div class="Float--left Width--100"
                     *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
                  <ng-container *ngFor="let activity of participant.data.activities; let i = index">
                    <div class="Float--left" *ngIf="getActivityDefinition(activity.activityCode) as activityDef3">
                      <a class="Abstraction--Jump--Group" pageScroll href="{{getGroupHref(activity.activityCode)}}"
                         *ngIf="activityDef3 != null">{{activityDef3.activityName}}</a>
                    </div>
                    <ng-container *ngIf="i < participant.data.activities.length - 1">
                      <div class="Float--left Vertical--line"></div>
                    </ng-container>
                  </ng-container>
                </div>

                <!--assumption for now is that activity will be different per ddp > dynamic-->
                <div class="Float--left Width--100"
                     *ngIf="participant.data != null && participant.data.activities != null && participant.data.activities.length > 0">
                  <hr style="border-color: black">
                  <ng-container *ngFor="let activity of participant.data.activities">
                    <ng-container *ngIf="getActivityDefinition(activity.activityCode) as activityDef4">
                      <app-activity-data *ngIf="activityDef4 != null" [activityDefinition]="activityDef4"
                                         [activity]="activity"></app-activity-data>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </tab>

            <tab heading="Medical Records"
                 *ngIf="participant.medicalRecords != null && participant.medicalRecords.length > 0"
                 [active]="tabActive('Medical Records')" (select)="onSelect($event, 'Medical Records')">
              <br/><br/><br/>

              <table class="table table-striped Width--100" [mfData]="participant.medicalRecords" #mf="mfDataTable"
                     [mfRowsOnPage]="hasRole().getUserSetting().getRowsPerPage()">
                <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="typeDDP">Type</mfDefaultSorter>
                  </th>
                  <th>Institution</th>
                  <th>MR Status</th>
                  <th>
                    <mfDefaultSorter by="mrProblem">MR Problem</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="reviewMedicalRecord">MR Requires Review</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="crRequired">Paper C/R Required</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="followUpRequired">MR Follow-Up Required</mfDefaultSorter>
                  </th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let mr of mf.data">
                  <ng-container *ngIf="mr.showInstitution()">
                    <td (click)="openMedicalRecord(mr)">{{mr.getType()}}</td>
                    <td (click)="openMedicalRecord(mr)">
                      <ng-container
                        *ngIf="participant.data != null && participant.data.medicalProviders != null">{{getMedicalRecordName(mr.name,
                        mr.ddpInstitutionId)}}
                      </ng-container>
                      <ng-container *ngIf="participant.data == null || participant.data.medicalProviders == null">
                        {{mr.getName()}}
                      </ng-container>
                    </td>
                    <td (click)="openMedicalRecord(mr)">{{mr.getMRStatus()}}</td>
                    <td (click)="openMedicalRecord(mr)">{{getUtil().getYesNo(mr.mrProblem)}}</td>
                    <td (click)="openMedicalRecord(mr)">{{getUtil().getYesNo(mr.reviewMedicalRecord)}}</td>
                    <td (click)="openMedicalRecord(mr)">{{getUtil().getYesNo(mr.crRequired)}}</td>
                    <td (click)="openMedicalRecord(mr)">{{getUtil().getYesNo(mr.followUpRequired)}}</td>
                    <td>
                      <button md-mini-fab [color]="getButtonColorStyle(mr.mrNotes)" placement="left"
                              tooltip='{{mr.mrNotes}}'
                              (click)="openNoteModal(mr); universalModal.show()">
                        <i class="fas fa-comment-alt fa-lg" data-fa-transform="down-2"></i>
                      </button>
                    </td>
                  </ng-container>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="8">
                    <mfBootstrapPaginator
                      [rowsOnPageSet]="[hasRole().getUserSetting().getRowSet0(), hasRole().getUserSetting().getRowSet1(), hasRole().getUserSetting().getRowSet2()]"></mfBootstrapPaginator>
                  </td>
                </tr>
                <tr>
                  <td colspan="8">
                    <b># of institutions: {{getInstitutionCount()}}</b>
                  </td>
                </tr>
                </tfoot>
              </table>
            </tab>

            <tab heading="Onc History"
                 *ngIf="participant.oncHistoryDetails != null && participant.oncHistoryDetails.length > 0"
                 [active]="tabActive('Onc History')" (select)="onSelect($event, 'Onc History')">
              <br/><br/><br/>

              <ng-container *ngIf="getTissueConsent() == null || !getTissueConsent()">
                <b>This participant did not consent to sharing tissue</b><br/>

                <div class="Float--left Width--100">
                  <div>
                    <app-onc-history-detail [participant]="participant" [settings]="settings"
                                            [oncHistory]="participant.oncHistoryDetails"
                                            [editable]="false"
                                            [oncHistoryId]="oncHistoryId"
                                            (valueChanged)="onOncHistoryDetailChange()"
                                            (openTissue)="openTissue($event)"
                                            (selectionChanged)="onOncHistoryDetailSelectionChange()">
                    </app-onc-history-detail>
                  </div>
                </div>

              </ng-container>
              <ng-container *ngIf="getTissueConsent() == null || getTissueConsent()">
                <span *ngIf="getTissueConsent() == null">
                  <b>Please check that this participant did consent to sharing tissue</b><br/>
                </span>

                <div class="Float--left Width--100">
                  <div>
                    <app-onc-history-detail [participant]="participant" [settings]="settings"
                                            [oncHistory]="participant.oncHistoryDetails"
                                            (valueChanged)="onOncHistoryDetailChange()"
                                            [oncHistoryId]="oncHistoryId"
                                            (openTissue)="openTissue($event)"
                                            (selectionChanged)="onOncHistoryDetailSelectionChange()">
                    </app-onc-history-detail>
                  </div>

                  <div
                    *ngIf="participant != null && participant.oncHistoryDetails.length > 0 && getTissueConsent() == null || getTissueConsent()">
                    <button md-raised-button (click)="requestTissue()" color="primary" [disabled]="participantExited"
                            [disabled]="disableTissueRequestButton || hasRole().prohibitedToRequestTissue()"> Download
                      Request Documents
                    </button>
                  </div>
                </div>
              </ng-container>
            </tab>

            <tab heading="First Medical Record Abstraction" [active]="tabActive('abstraction')"
                 (select)="onSelect($event, 'abstraction'); getFileList(participant.abstraction)"
                 *ngIf="(participant.abstraction != null && abstractionFields != null
                 && (participant.abstraction.status === 'in_progress' || participant.abstraction.status === 'done'))
                 && participant.finalA != null && participant.finalA.status !== 'done'
                 && (hasRole().isAbstractionAdmin() || hasRole().isAbstracter() || hasRole().isQC())"
                 [disabled]="participant.abstraction.user !== hasRole().getUserName()">
              <br/>
              <div class="Float--left Width--100">
                <md-input-container class="Input--Bigger-WIDTH">
                  <input mdInput maxlength="500" placeholder="Files used in the abstraction" type="text"
                         [disabled]="participantExited"
                         [ngClass]="{'Input': true, 'Input--Bigger-WIDTH': true, 'Color--Field--Patched': isPatchedCurrently('filesUsed')}"
                         [(ngModel)]="participant.abstraction.filesUsed"
                         (change)="abstractionFilesUsedChanged(participant.abstraction)"
                         (blur)="currentField(null)" (focus)="currentField('filesUsed')">
                </md-input-container>
              </div>
              <div class="Float--left Width--100">
                <b class="Group--Title">Jump to:</b>
              </div>
              <div class="Float--left Width--100">
                <ng-container *ngFor="let groups of abstractionFields; let i = index">
                  <div class="Float--left">
                    <a class="Abstraction--Jump--Group" pageScroll
                       href="{{getGroupHref(groups.getDisplayNameWithoutSpace('abstraction'))}}">{{groups.displayName}}</a>
                  </div>
                  <ng-container *ngIf="i < abstractionFields.length - 1">
                    <div class="Float--left Vertical--line"></div>
                  </ng-container>
                </ng-container>
              </div>

              <div class="Float--left Width--100">
                <hr style="border-color: black">
                <app-medical-record-abstraction [abstractionFormControls]="abstractionFields"
                                                [abstractionActivity]="'abstraction'"
                                                [status]="participant.abstraction.status" [participant]="participant"
                                                [fileList]="fileListUsed" [drugList]="drugs" [cancerList]="cancers"
                                                (emitFileName)="addFileToParticipant($event, participant.abstraction)">
                </app-medical-record-abstraction>
              </div>

              <div class="Float--left Width--100" *ngIf="participant.abstraction.status !== 'done'">
                <hr style="border-color: black">
                <button md-raised-button type="button" color="primary"
                        (click)="submitParticipant(participant.abstraction)">Submit MR Abstraction
                </button>
              </div>
            </tab>

            <tab heading="Second Medical Record Abstraction" [active]="tabActive('review')"
                 (select)="onSelect($event, 'review'); getFileList(participant.review)"
                 *ngIf="(participant.review != null && reviewFields != null && (participant.review.status === 'in_progress' || participant.review.status === 'done')) && participant.finalA != null && participant.finalA.status !== 'done' &&
                    (hasRole().isAbstractionAdmin() || hasRole().isAbstracter() || hasRole().isQC())"
                 [disabled]="participant.review.user !== hasRole().getUserName()">
              <br/>
              <div class="Float--left Width--100">
                <md-input-container
                  [ngClass]="{'Input': true, 'Input--Bigger-WIDTH': true, 'Color--Field--Patched': isPatchedCurrently('filesUsed')}">
                  <input mdInput maxlength="500" placeholder="Files used in the abstraction" type="text"
                         [disabled]="participantExited"
                         [(ngModel)]="participant.review.filesUsed"
                         (change)="abstractionFilesUsedChanged(participant.review)"
                         (blur)="currentField(null)" (focus)="currentField('filesUsed')">
                </md-input-container>
              </div>
              <div class="Float--left Width--100">
                <b class="Group--Title">Jump to:</b>
              </div>
              <div class="Float--left Width--100">
                <ng-container *ngFor="let groups of reviewFields; let i = index">
                  <div class="Float--left">
                    <a class="Abstraction--Jump--Group" pageScroll
                       href="{{getGroupHref(groups.getDisplayNameWithoutSpace('review'))}}">{{groups.displayName}}</a>
                  </div>
                  <ng-container *ngIf="i < reviewFields.length - 1">
                    <div class="Float--left Vertical--line"></div>
                  </ng-container>
                </ng-container>
              </div>

              <div class="Float--left Width--100">
                <hr style="border-color: black">
                <app-medical-record-abstraction [abstractionFormControls]="reviewFields"
                                                [abstractionActivity]="'review'" [status]="participant.review.status"
                                                [fileList]="fileListUsed" [drugList]="drugs" [cancerList]="cancers"
                                                [participant]="participant"
                                                (emitFileName)="addFileToParticipant($event, participant.review)">
                </app-medical-record-abstraction>
              </div>

              <div class="Float--left Width--100" *ngIf="participant.review.status !== 'done'">
                <hr style="border-color: black">
                <button md-raised-button type="button" color="primary"
                        (click)="submitParticipant(participant.review)">Submit MR Abstraction
                </button>
              </div>
            </tab>

            <tab heading="QC" [active]="tabActive('qc')" (select)="onSelect($event, 'qc'); getFileList(participant.qc)"
                 *ngIf="(participant.qc != null && qcFields != null && (participant.qc.status === 'in_progress' || participant.qc.status === 'done')) && participant.finalA != null && participant.finalA.status !== 'done' &&
                    (hasRole().isAbstractionAdmin() || hasRole().isAbstracter() || hasRole().isQC())"
                 [disabled]="participant.qc.user !== hasRole().getUserName()">
              <br/>
              <div class="Float--left Width--100">
                <md-input-container
                  [ngClass]="{'Input': true, 'Input--Bigger-WIDTH': true, 'Color--Field--Patched': isPatchedCurrently('filesUsed')}">
                  <input mdInput maxlength="500" placeholder="Files used in the abstraction" type="text"
                         [disabled]="participantExited"
                         [(ngModel)]="participant.finalA.filesUsed"
                         (change)="abstractionFilesUsedChanged(participant.finalA)"
                         (blur)="currentField(null)" (focus)="currentField('filesUsed')">
                </md-input-container>
              </div>
              <div class="Float--left Width--100">
                <b class="Group--Title">Jump to:</b>
              </div>
              <div class="Float--left Width--100">
                <ng-container *ngFor="let groups of qcFields; let i = index">
                  <div class="Float--left">
                    <a class="Abstraction--Jump--Group" pageScroll
                       href="{{getGroupHref(groups.getDisplayNameWithoutSpace('qc'))}}">{{groups.displayName}}</a>
                  </div>
                  <ng-container *ngIf="i < qcFields.length - 1">
                    <div class="Float--left Vertical--line"></div>
                  </ng-container>
                </ng-container>
              </div>

              <div class="Float--left Width--100">
                <hr style="border-color: black">
                <app-medical-record-abstraction [abstractionFormControls]="qcFields" [abstractionActivity]="'qc'"
                                                [status]="participant.qc.status" [participant]="participant"
                                                [fileList]="fileListUsed" [drugList]="drugs" [cancerList]="cancers"
                                                (emitFileName)="addFileToParticipant($event, participant.qc)">
                </app-medical-record-abstraction>
              </div>

              <div class="Float--left Width--100" *ngIf="participant.qc.status !== 'done'">
                <hr style="border-color: black">
                <button md-raised-button type="button" color="primary"
                        (click)="submitParticipant(participant.qc)">Submit QC
                </button>
              </div>
            </tab>

            <tab heading="Final Abstraction Values" [active]="tabActive('final')" (select)="onSelect($event, 'final')"
                 *ngIf="participant.finalA != null && finalFields != null && participant.finalA.status === 'done'">
              <br/>
              <div class="Float--left Width--100">
                <b class="Group--Title">Jump to:</b>
              </div>
              <div class="Float--left Width--100">
                <ng-container *ngFor="let groups of finalFields; let i = index">
                  <div class="Float--left">
                    <a class="Abstraction--Jump--Group" pageScroll
                       href="{{getGroupHref(groups.getDisplayNameWithoutSpace('final'))}}">{{groups.displayName}}</a>
                  </div>
                  <ng-container *ngIf="i < finalFields.length - 1">
                    <div class="Float--left Vertical--line"></div>
                  </ng-container>
                </ng-container>
              </div>

              <div class="Float--left Width--100">
                <hr style="border-color: black">
                <app-medical-record-abstraction [abstractionFormControls]="finalFields" [abstractionActivity]="'final'"
                                                [status]="participant.finalA.status"
                                                [fileList]="fileListUsed" [participant]="participant">
                </app-medical-record-abstraction>
              </div>
            </tab>
          </tabset>
        </ng-container>
      </div>
    </div>
  </div>

  <app-modal>
    <div class="app-modal-header">
      <ng-container *ngIf="!_showWarningModal">
        Note for medical record:
      </ng-container>
      <ng-container *ngIf="_showWarningModal">
        Tissue Request Warning
      </ng-container>
    </div>
    <div class="app-modal-body">
      <ng-container *ngIf="!_showWarningModal">
      <textarea class="Width--100" maxlength="1000" [disabled]="participantExited"
                *ngIf="noteMedicalRecord != null" [(ngModel)]="noteMedicalRecord.mrNotes"></textarea>
      </ng-container>
      <ng-container *ngIf="_showWarningModal">
        {{warning}}
      </ng-container>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default"
              (click)="universalModal.hide()">Cancel
      </button>
      <ng-container *ngIf="!_showWarningModal">
        <button type="button" class="btn btn-primary" [disabled]="participantExited"
                (click)="saveNote()">Save & Close
        </button>
      </ng-container>
      <ng-container *ngIf="_showWarningModal">
        <button type="button" class="btn btn-default" [disabled]="participantExited"
                (click)="doRequest()">Request Anyway
        </button>
      </ng-container>
    </div>
  </app-modal>
</ng-container>
